		<div class="fl-container-flex fl-fix information-group">
			<div class="csc-citation-citationNameAuthorityInformation-label csc-recordEditor-header fl-container-flex header toggle"></div>
			<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main">
			
                <div class="info-column">
                    <div class="info-pair">
                        <div class="header">
                            <div class="label csc-citation-preferredCitation-label"></div>
                        </div>
                        <div class="content">
                            <div class="csc-preferred-citationAuthority"></div>
                        </div>
                    </div>
                </div>                    							
			</div>
					
			
			<div class="info-column">
				<div class="info-pair">
					<div class="header">
						<div class="label">Publication information</div>
					</div>
					<div class="content">
						<table>
							<thead>
								<tr>
									<td class="csc-citation-smkLabelCitationEvent-label"></td>
									<td class="csc-citation-smkLabelCitationEventPlace-label"></td>
									<td class="csc-citation-smkLabelCitationEventDateFrom-label"></td>
									<td class="csc-citation-smkLabelCitationEventDateTo-label"></td>
									<td class="csc-citation-smkLabelCitationEventDateTo-label"></td>
								</tr>
							</thead>                                                        
							<tbody>
								<tr class="csc-citation-citationPublicationInfoGroup">
									<td><input type="text" class="csc-citationAuthority-publication-publisher"/></td>
									<td><input type="text" class="csc-citationAuthority-publication-place"/></td>
									<td><input type="text" class="csc-citationAuthority-publication-publicationDate"/></td>
									<td><input type="text" class="csc-citationAuthority-publication-edition"/></td>
									<td><input type="text" class="csc-citationAuthority-publication-pages"/></td>
								</tr>									
							</tbody>
						</table>
					</div>
				</div>
			</div>	
			
			<div class="info-column">
				<div class="info-pair">
					<div class="header">
						<div class="label">Agent information</div>
					</div>
					<div class="content">
						<table>
							<thead>
								<tr>
									<td class="csc-citation-smkLabelCitationEvent-label"></td>
									<td class="csc-citation-smkLabelCitationEventPlace-label"></td>
									<td class="csc-citation-smkLabelCitationEventDateFrom-label"></td>
								</tr>
							</thead>                                                        
							<tbody>
								<tr class="csc-citation-citationAgentInfoGroup">
									<td><input type="text" class="csc-citationAuthority-agentInfo-agent"/></td>
									<td><select class="csc-citationAuthority-agentInfo-role input-select"><option value="">Options not loaded</option></select></td>
									<td><input type="text" class="csc-citationAuthority-agentInfo-note"/></td>																		
								</tr>									
							</tbody>
						</table>
					</div>
				</div>
			</div>					
			
			
			<div class="info-column">
				<div class="info-pair">
					<div class="header">
						<div class="label">Resource identifiers</div>
					</div>
					<div class="content">
						<table>
							<thead>
								<tr>
									<td class="csc-citation-smkLabelCitationEvent-label"></td>
									<td class="csc-citation-smkLabelCitationEventPlace-label"></td>
									<td class="csc-citation-smkLabelCitationEventDateFrom-label"></td>									
								</tr>
							</thead>                                                        
							<tbody>
								<tr class="csc-citation-citationResourceIdentGroup">
									<td><input type="text" class="csc-citationAuthority-resourceId-id"/></td>
									<td><select class="csc-citationAuthority-resourceId-type input-select"><option value="">Options not loaded</option></select></td>
									<td><input type="text" class="csc-citationAuthority-resourceId-captureDate"/></td>																		
								</tr>									
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			
			
			<div class="info-column">
				<div class="info-pair">
					<div class="header">
						<div class="label">Related terms</div>
					</div>
					<div class="content">
						<table>
							<thead>
								<tr>
									<td class="csc-citation-smkLabelCitationEvent-label"></td>
									<td class="csc-citation-smkLabelCitationEventPlace-label"></td>
								</tr>
							</thead>                                                        
							<tbody>
								<tr class="csc-citation-citationRelatedTermsGroup">
									<td><input type="text" class="csc-citationAuthority-relatedTerms-relatedTerm"/></td>
									<td><select class="csc-citationAuthority-relatedTerms-relationType input-select"><option value="">Options not loaded</option></select></td>																	
								</tr>									
							</tbody>
						</table>
					</div>
				</div>
			</div>					     						
		</div>
		
		<div class="csc-record-hierarchy"></div>
