.cs-structuredDateSMK-popup {
	width:470px;
    border:1px solid #C7CFD4;
    position:absolute;
    z-index:9999 !important;
    overflow:auto;
    -moz-box-shadow: 3px 3px 4px  #C7CFD4;
    -webkit-box-shadow: 3px 3px 4px  #C7CFD4;
    box-shadow: 3px 3px 4px  #C7CFD4;
    background-color: #E6F4F5; /* Light blue per wireframe */
    -moz-user-focus: normal;
    -moz-user-select: none;
    padding: 10px;
}
.cs-structuredDateSMK-popup table{
	width: 455px !important;
}
.cs-structuredDateSMK-popup .info-pair .content tbody tr td:first-of-type{
	min-width:110px;
	padding-left:2px;
}
.cs-structuredDateSMK-popup .content input {
	border:1px solid #C7CFD4;
}
.cs-structuredDateSMK-popup .content table input {
	border:none;
}
.cs-structuredDateSMK-popup .content table select {
	border:none;
	width:75px;
}

.content table .cs-structuredDateSMK-popup select, .content .cs-structuredDateSMK-popup select  {
	border:1px solid #C7CFD4;
	height:21px;
	padding-top:0px;
	font-size:13px;
	line-height:15px;
	width:75px;
}

.content .cs-structuredDateSMK-popup input  {	
/*	width:100%;*/
    border:1px solid #C7CFD4;
}

.cs-structuredDateSMK-dateLabel {
    background-color: #F8F8F7;
    font-size: 11px;
    color: #3B3B3C;
}
.content input.cs-structuredDateSMK-input {
	background:url('../images/icnStructuredDate.png') no-repeat scroll 98% center #fff;
	/*border:1px solid #C7CFD4;*/
}

.content input.cs-structuredDateSMK-input[disabled] {
	background:url('../images/icnStructuredDate.png') no-repeat scroll 98% center #CCC;
}

.info-pair .content td.label {
	padding-bottom:3px;
}

.cs-structuredDateSMK-popup input[type="text"].csc-structuredDateSMK-SMK-date-month, 
.cs-structuredDateSMK-popup input[type="text"].csc-structuredDateSMK-SMK-date-day, 
.cs-structuredDateSMK-popup input[type="text"].csc-structuredDateSMK-SMK-second-date-month, 
.cs-structuredDateSMK-popup input[type="text"].csc-structuredDateSMK-SMK-second-date-day, 
.cs-structuredDateSMK-popup input[type="text"].csc-structuredDateSMK-SMK-third-date-month, 
.cs-structuredDateSMK-popup input[type="text"].csc-structuredDateSMK-SMK-third-date-day{
width:40px;
border:1px solid #C7CFD4;
	height:21px;
	padding-top:0px;
	font-size:13px;
	line-height:15px;
}

.cs-structuredDateSMK-popup input[type="text"].csc-structuredDateSMK-SMK-date-year,  
.cs-structuredDateSMK-popup input[type="text"].csc-structuredDateSMK-SMK-second-date-year,
.cs-structuredDateSMK-popup input[type="text"].csc-structuredDateSMK-SMK-third-date-year{
width:80px;
border:1px solid #C7CFD4;
	height:21px;
	padding-top:0px;
	font-size:13px;
	line-height:15px;
}

.item-pair .alpha{
width:80px;
}

#third-line, #second-line, #forth-line{
padding-top:15px;
}

#third-line, #second-line, #forth-line .alpha{
margin-left:1px;
}

.item-pair{
display:inline;
float:left;
}

.force-clear{
clear:left;
}

.spacer{
height:2px;
width:20px;
}

.disabledField{
background:#EEE;
}
