		<div class="fl-container-flex fl-fix information-group">
			<div class="csc-recordEditor-header fl-container-flex header toggle csc-acquisition-acquisitionInformation-label"></div>
			<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main">
				<div class="info-column">
					<div class="info-column2-50 fl-force-left">
						<div class="info-pair">
							<span class="label required csc-acquisition-acquisitionReferenceNumber-label"></span><span class="required">*</span>
							<div class="content csc-acquisition-reference-number-patternChooserContainer clearfix">
								<input type="text" class="input-numeric-long csc-acquisition-numberPatternChooser-reference-number pattern-chooser-input" />
							</div>
						</div>

						<div class="info-pair">
							<div class="header">
								<div class="label csc-acquisition-accessionDateGroup-label"></div>
							</div>
							<div class="content">
								<input type="text" class="csc-smk-acquisition-accession-date"/>
							</div>
						</div>

						<div class="info-pair">
							<div class="header">
								<div class="label csc-acquisition-acquisitionAuthorizerHeader-label"></div>
							</div>
							<div class="content">
								<table>
									<thead>
										<tr>
											<td class="csc-acquisition-acquisitionAuthorizer-label"></td>
											<td class="csc-acquisition-acquisitionAuthorizerDate-label"></td>
										</tr>
									</thead>                                                                    
									<tbody>
										<tr>
											<td>
												<input type="text" class="csc-acquisition-acquisitionAuthorizer" />
											</td>
											<td>
												<input type="text" class="csc-acquisition-acquisitionAuthorizerDate" />
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						
				        <div class="info-pair-date">
							<div class="header">
								<span class="label required csc-acquisition-smkAcquisitionDate-label"></span><span class="required">*</span>
							</div>
							<div class="content">
								<input type="text" class="csc-smk-acquisition-date csc-required" />
							</div>
						</div>

						<div class="info-pair-select">
							<div class="header">
								<span class="label required csc-acquisition-acquisitionMethod-label"></span><span class="required">*</span>
							</div>
							<div class="content">
								<table>
									<tbody>
										<tr class="csc-acquisition-acquisition-method-row">
											<td><select class="csc-acquisition-acquisition-method input-select csc-required"><option value="">Options not loaded</option></select></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="info-pair">
							<div class="header">
								<div class="label csc-acquisition-acquisitionSources-label"></div>
							</div>
							<div class="content">
								<input type="text" class="csc-smk-acquisition-source" />
							</div>
						</div>
					</div>

					<div class="info-column2-50 fl-force-right">
					    <div class="info-pair">
							<div class="header">
								<div class="label csc-acquisition-acquisitionReason-label"></div>
							</div>
							<div class="content">								
								<textarea rows="4" cols="30" class="input-textarea csc-acquisition-acquisition-reason"/>
							</div>
						</div>
						
						<div class="info-pair">
							<div class="header">
								<div class="label csc-acquisition-acquisitionNote-label"></div>
							</div>
							<div class="content">
								<textarea rows="4" cols="30" class="input-textarea csc-acquisition-acquisition-note" />
							</div>
						</div>

						<div class="info-pair">
							<div class="header">
								<div class="label csc-acquisition-acquisitionProvisos-label"></div>
							</div>
							<div class="content">
								<textarea rows="4" cols="30" class="input-textarea csc-acquisition-acquisition-provisos" />
							</div>
						</div>
					</div>
				</div>

			
				<div class="info-pair">
					<div class="header">
						<div class="label csc-acquisition-objectPurchaseOfferPriceCurrency-label"></div>
					</div>
					<div class="content">
						<table>
							<thead>
								<tr>
									<td class="csc-acquisition-objectOfferPriceCurrency-label"></td>
									<td class="csc-acquisition-groupPurchasePriceCurrency-label"></td>
									<td class="csc-acquisition-groupPurchasePriceValue-label"></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="label csc-acquisition-objectPurchasePriceCurrency-label"></td>
									<td><select class="csc-acquisition-original-object-purchase-price-currency input-select input-money-type"><option value="">Options not loaded</option></select></td>
									<td><input type="text" class="input-numeric-medium csc-acquisition-original-object-purchase-price-value" value="" /></td>
								</tr>
								<tr>
									<td class="label csc-acquisition-objectPurchasePriceValue-label"></td>
									<td><select class="csc-acquisition-group-purchase-price-currency input-select input-money-type"><option value="">Options not loaded</option></select></td>
									<td><input type="text" class="input-numeric-medium csc-acquisition-group-purchase-price-value" value="" /></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="info-column">
					<div class="info-pair">
						<div class="header">
							<div class="label csc-acquisition-acquisitionFunding-label"></div>
						</div>
						<div class="content">
							<table>
								<thead>
									<tr>
										<td class="csc-acquisition-acquisitionFundingCurrency-label"></td>
										<td class="csc-acquisition-acquisitionFundingValue-label"></td>
										<td class="csc-acquisition-acquisitionFundingSource-label"></td>
										<td class="csc-acquisition-acquisitionFundingSourceProvisos-label"></td>
									</tr>
								</thead>                                                                    
								<tbody>
									<tr class="csc-acquisition-acquisitionFunding">                                                                    
										<td><select class="csc-acquisition-acquisitionFundingCurrency input-select input-money-type"><option value="">Options not loaded</option></select></td>
										<td><input type="text"  class="csc-acquisition-acquisitionFundingValue" /></td>
										<td><input type="text"  class="csc-acquisition-acquisitionFundingSource" /></td>
										<td><input type="text"  class="csc-acquisition-acquisitionFundingSourceProvisos" /></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div> <!-- information-group -->

		</div>
