<div class="kks-template-group-background">
<div class="info-column kks-head">KKS værk i flere dele</div>
<div class="fl-container-flex fl-fix information-group">
	<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main kks-template-group">
		<div class="info-column">
			<div class="info-column2-15 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<span class="label required kks-header csc-collection-object-objectNumber-label"></span><span class="required">*</span>
					</div>
					<div
						class="content">
						<input type="text" class="csc-object-identification-object-number" />
					</div>
				</div>
			</div>
			<div class="info-column2-10 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-collection-object-smkVerso-label"></div>
					</div>
					<div class="content">
						<input type="checkbox" class="csc-smk-verso" />
					</div>
				</div>
			</div>
			<div class="info-column2-25 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<div class="label kks-header csc-collection-object-copyNumber-label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-object-description-copy-number" />
					</div>
				</div>
			</div>
			<div class="info-column2-50 fl-force-right">
				<div class="info-pair">
					<div class="header">
						<!-- div class="label csc-collection-object-otherNumber-label"></div> -->
					</div>
					<div class="content">
						<table class="kks-template-table">
							<thead class="kks-template-thead">
								<tr>
									<td class="csc-collection-object-otherNumber-label"></td>
									<td class="csc-collection-object-numberType-label"></td>
								</tr>
							</thead>
							<tbody>
								<tr class="csc-object-identification-otherNumbers">
									<td style="width: 60%;"><input type="text"
										class="csc-object-identification-other-number" /></td>
									<td><select
										class="csc-object-identification-other-number-type input-select"><option
												value="">Options not loaded</option></select></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="fl-container-flex fl-fix information-group">
	<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main kks-template-group">
		<div class="info-column">
			<div class="info-column2-50 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<!--   div class="label csc-collection-object-objectProductionPersonGroup-label"></div>-->
					</div>
					<div class="content">
						<table class="kks-template-table">
							<thead class="kks-template-thead">
								<tr>
									<td><span class="csc-collection-object-objectProductionPerson-label"></span><span class="required">*</span></td>
									<td class="csc-collection-object-objectProductionPersonRole-label"></td>
								</tr>
							</thead>
							<tbody>
								<tr class="csc-collection-object-faObjectProductionPersonGroup">
									<td style="width: 60%;"><input type="text"
										class="csc-fa-object-production-person csc-required" /></td>
									<td class="flc-inlineEdit-text"><select
										class="csc-fa-object-production-person-role input-select"><option
												value="">Options not loaded</option></select></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="info-column2-50 fl-force-right">
				<div class="info-pair">
					<div class="header">
						<!-- div class="label csc-collection-object-faCreatorDescriptionGroup-label"></div> -->
					</div>
					<div class="content">
						<table class="kks-template-table">
							<thead class="kks-template-thead">
								<tr>
									<td class="csc-collection-object-faCreatorDescription-label"></td>
									<td
										class="csc-collection-object-faCreatorDescriptionLanguage-label"></td>
								</tr>
							</thead>
							<tbody>
								<tr class="csc-collection-object-faCreatorDescriptionGroup">
									<td  style="width: 60%;"><input type="text"
										class="csc-fa-creator-description" /></td>
									<td class="flc-inlineEdit-text"><select
										class="csc-fa-creator-description-language input-select"><option
												value="">Options not loaded</option></select></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="fl-container-flex fl-fix information-group">
	<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main kks-template-group">
		<div class="info-column kks-title">
		<!-- Title - labels are from core, classes from smk -->
			<div class="info-column cs-multipleEdit" id="multipleEdit">
				<div class="info-pair">
					<div class="header">
						<!-- div class="label csc-collection-object-titleGroup-label"></div> -->
						
					</div>
					<div
						class="content csc-collection-object-smkTitleGroup cs-repeatable-stretched">
						<div class="info-column">
							<div class="info-pair">
								<div class="header">
									<!-- div class="label csc-collection-object-title-label"></div> -->
								</div>
								<div class="content">
										<table class="kks-template-table">
											<thead class="kks-template-thead">	
											<tr>
												<td><span class="label kks-header csc-collection-object-title-label"></span><span
													class="required">*</span></td>
												<td class="csc-collection-object-titleType-label"></td>
												<td><span class="csc-collection-object-titleLanguage-label"></span><span
													class="required">*</span></td>
												<td class="csc-collection-object-smkTitleNote-label"></td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td style="width: 45%;"><input type="text"
													class="csc-smk-object-identification-object-title input-alpha csc-required" /></td>
												<td style="width: 15%;"><select 
													class="csc-smk-object-identification-object-title-type input-select"><option
															value="">Options not loaded</option></select></td>
												<td style="width: 15%;"><select 
													class="csc-smk-object-identification-object-title-language input-select csc-required"><option
															value="">Options not loaded</option></select></td>		
												<td style="width: 25%"><input type="text" class="csc-smk-title-note" /></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="info-column">
							<div class="info-column2-100 fl-force-right">
								<div class="info-pair">
									<div class="header">
										<!-- div class="label csc-titleGroup-titleTranslationSubGroup-label"></div> -->
									</div>
									<div class="content">
										<table class="kks-template-table">
											<thead class="kks-template-thead">
												<tr>
													<td class="csc-collection-object-titleTranslation-label"></td>
													<td
														class="csc-collection-object-titleTranslationLanguage-label"></td>
													<td
														class="csc-collection-object-smkTitleTranslationNote-label"></td>
												</tr>
											</thead>
											<tbody>
												<tr class="csc-smkTitleGroup-smkTitleTranslationSubGroup">
													<td class="flc-inlineEdit-text" style="width: 50%;"><input
														type="text"
														class="csc-smk-object-identification-object-title-translation editableText" /></td>
													<td class="flc-inlineEdit-text"><select
														class="csc-smk-collection-object-titleTranslationLanguage input-select"><option
																value="">Options not loaded</option></select></td>
													<td class="flc-inlineEdit-text"><input type="text"
														class="csc-smk-title-translation-note editableText" /></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
    				</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="fl-container-flex fl-fix information-group">
	<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main kks-template-group">
		<div class="info-column">
			<div class="info-column2-50 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<!-- div class="label csc-collection-object-objectProductionDateGroup-label"></div> -->
					</div>
					<div class="content">
						<table class="kks-template-table">
							<thead class="kks-template-thead">
								<tr>
									<td><span class="csc-collection-object-smklabObjectProductionDate-label"></span><span class="required">*</span></td>
									<td><span class="csc-collection-object-faObjectProductionDateQualifier-label"></span><span class="required">*</span></td>
								</tr>
							</thead>
							<tbody>
								<tr class="csc-collection-object-smkObjectProductionDateGroup">
									<td style="width: 60%;"><input type="text"
										class="csc-object-production-date-smk csc-required" /></td>
									<td class="flc-inlineEdit-text"><select
										class="csc-object-production-date-qualifier-smk input-select csc-required"><option
												value="">Options not loaded</option></select></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="info-column2-50 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<!--  div class="label csc-collection-object-objectProductionPlaceGroup-label"></div>-->
					</div>
					<div class="content">
						<table class="kks-template-table">
							<thead class="kks-template-thead">
								<tr>
									<td class="csc-collection-object-objectProductionPlace-label"></td>
									<td
										class="csc-collection-object-objectProductionPlaceRole-label"></td>
								</tr>
							</thead>
							<tbody>
								<tr class="csc-collection-object-objectProductionPlaceGroup">
									<td style="width: 60%;"><input type="text" class="csc-object-production-place" /></td>
									<td class="flc-inlineEdit-text"><select
										class="csc-collection-object-objectProductionPlaceRole input-select"><option
												value="">Options not loaded</option></select></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-column fl-force-left">
				<div class="info-pair">
					<div class="header">
						<!--  div class="label csc-collection-object-objectProductionNote-label"></div>-->
					</div>
					<div class="content">
						<table class="kks-template-table">
							<thead class="kks-template-thead">
								<tr>
									<td class="csc-collection-object-smkObjectProductionNote-label"></td>
									<td
										class="csc-collection-object-smkObjectProductionNoteLanguage-label"></td>
								</tr>
							</thead>
							<tbody>
								<tr class="csc-collection-object-smkObjectProductionNoteGroup">
									<td style="width: 80%;"><input type="text"
										class="csc-smk-object-production-note" /></td>
									<td class="flc-inlineEdit-text"><select
										class="csc-smk-object-production-note-language input-select"><option
												value="">Options not loaded</option></select></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="fl-container-flex fl-fix information-group">
	<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main kks-template-group">
		<div class="info-column">
			<div class="info-column2-20 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<span class="label kks-header required csc-collection-object-objectName-label"></span><span class="required">*</span>
					</div>
					<div class="content">
						<input type="text" class="csc-smk-object-name csc-required" />
					</div>
				</div>
			</div>
			<div class="info-column2-80 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<!--  div class="label csc-collection-object-faProductionTechniqueGroup-label"></div>-->
					</div>
					<div class="content">
						<table class="kks-template-table">
							<thead class="kks-template-thead">
								<tr>
									<td><span class="csc-collection-object-faProductionTechnique-label"></span><span class="required">*</span></td>
									<td class="csc-collection-object-faProductionTechniqueLanguage-label"></td>
								</tr>
							</thead>
							<tbody>
								<tr class="csc-collection-object-faProductionTechniqueGroup">
									<!--<td class="table-unselected"></td>-->
									<td style="width: 75%;"><input type="text"
										class="csc-fa-object-production-technique csc-required" /></td>
									<td class="flc-inlineEdit-text"><select
										class="csc-fa-object-production-technique-language input-select"><option
												value="">Options not loaded</option></select></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-column2-20 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<!-- div class="label csc-collection-object-materialGroup-label"></div> -->
					</div>
					<div class="content">
						<table class="kks-template-table">
							<thead class="kks-template-thead">
								<tr>
									<td class="csc-collection-object-material-label"></td>
								</tr>
							</thead>
							<tbody>
								<tr class="csc-collection-object-faMaterialGroup">
									<td><input type="text" class="csc-fa-material" /></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="info-column2-40 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-collection-object-physicalDescription-label"></div>
					</div>
					<div class="content">
						<input type="text" class="input-textarea csc-object-description-physical-description"/>
					</div>
				</div>
			</div>
			<div class="info-column2-20 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-collection-object-faWatermark-label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-fa-watermark" />
					</div>
				</div>
			</div>
			<div class="info-column2-20 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-collection-object-faStateDescription-label"></div>
					</div>
					<div class="content">
						<input type="text" class="input-textarea csc-fa-object-state-description"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="fl-container-flex fl-fix information-group">
	<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main kks-template-group info-column">
		<div class="csc-collection-object-dimension"></div>
	</div>
</div>

<div class="fl-container-flex fl-fix information-group">
	<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main kks-template-group info-column kks-inscription">
		<!--info-group = repeatable container -->
		<div class="csc-collection-object-smkTextualInscriptionSMKGroup cs-repeatable-stretched">
			<div class="info-column">
				<div class="info-column2-75 fl-force-left">
					<div class="info-pair">
						<div class="header">
							<div
								class="label kks-header csc-collection-object-textualInscriptionInformation-label"></div>
						</div>
						<div class="content">
							<textarea rows="2"
								class="input-textarea csc-object-description-inscription-content-smk"></textarea>
						</div>
					</div>
				</div>
				<div class="info-column2-25 fl-force-left">
					<div class="info-pair">
						<div class="header">
							<div
								class="label csc-collection-object-inscriptionContentTranslation-label"></div>
						</div>
						<div class="content">
							<textarea rows="2"
								class="input-textarea csc-object-description-inscription-content-translation-smk"></textarea>
						</div>
					</div>
				</div>
			</div>		
			<div class="info-column">
				<div class="info-column2-5 fl-force-left">
					<div class="info-pair">
						<div class="header">
							<div
								class="label csc-collection-object-smkInscriptionContentVerso-label"></div>
						</div>
						<div class="content">
							<input type="checkbox"
								class="csc-object-description-inscription-content-verso-smk" />
						</div>
					</div>
				</div>
				<div class="info-column2-15 fl-force-left">
					<div class="info-pair-select">
						<div class="header">
							<div
								class="label csc-collection-object-inscriptionContentType-label"></div>
						</div>
						<div class="content">
							<select
								class="csc-object-description-inscription-content-type-smk input-select"><option
									value="">Options not loaded</option></select>
						</div>
					</div>
				</div>
				<div class="info-column2-15 fl-force-left">	
					<div class="info-pair-select">
						<div class="header">
							<div
								class="label csc-collection-object-inscriptionContentPosition-label"></div>
						</div>
						<div class="content">
							<select
								class="csc-object-description-inscription-content-position-smk input-select"><option
									value="">Options not loaded</option></select>
						</div>
					</div>
				</div>
				<div class="info-column2-15 fl-force-left">
					<div class="info-pair">
						<div class="header">
							<div
								class="label csc-collection-object-inscriptionContentMethod-label"></div>
						</div>
						<div class="content">
							<input type="text"
								class="csc-object-description-inscription-content-method-smk" />
						</div>
					</div>
				</div>
				<div class="info-column2-15 fl-force-left">
					<div class="info-pair-select">
						<div class="header">
							<div
								class="label csc-collection-object-inscriptionContentLanguage-label"></div>
						</div>
						<div class="content">
							<select
								class="csc-object-description-inscription-content-language-smk input-select"><option
									value="">Options not loaded</option></select>
						</div>
					</div>
				</div>
				<div class="info-column2-15 fl-force-left">
					<div class="info-pair">
						<div class="header">
							<div
								class="label csc-textualInscriptionGroup-inscriptionContentDateGroup-label"></div>
						</div>
						<div class="content">
							<input type="text"
								class="csc-object-description-inscription-content-date-smk" />
						</div>
					</div>
				</div>
				<div class="info-column2-25 fl-force-left">
					<div class="info-pair">
						<div class="header">
							<div
								class="label csc-collection-object-inscriptionContentInterpretation-label"></div>
						</div>
						<div class="content">
							<input type="text"
								class="csc-object-description-inscription-content-interpretation-smk"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="fl-container-flex fl-fix information-group">
	<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main kks-template-group kks-template-group-b info-column">
		<div class="info-column">
			<div class="info-column2-20 fl-force-left kks-repeatable-select-b">
				<div class="info-pair-select">
					<div class="header">
						<div class="label kks-header csc-collection-object-objectStatus-label"></div>
					</div>
					<div class="content">
						<select class="csc-object-description-object-status input-select"><option
								value="">Options not loaded</option></select>
					</div>
				</div>
			</div>
			<div class="info-column2-10 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-collection-object-numberOfObjects-label"></div>
					</div>
					<div class="content">
						<input type="text"
							class="input-numeric-medium csc-object-identification-number-objects" />
					</div>
				</div>
			</div>			
			<div class="info-column2-10 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-collection-object-editionNumber-label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-object-description-edition-number" />
					</div>
				</div>
			</div>
			<div class="info-column2-60 fl-force-left">
              	<div class="info-pair">
                   <div class="header">
                       <div class="label csc-collection-object-distinguishingFeatures-label"></div>
                   </div>
                   <div class="content">
                       <input type="text" class="input-textarea csc-object-identification-distinguishing-features" />
                   </div>
               </div>  
			</div>
		</div>
		<div class="info-column kks-brief-description">
			<div class="info-pair">
				<div class="header">
					<div class="label csc-collection-object-briefDescriptions-label"></div>
				</div>
				<div class="content">
					<textarea rows="7" class="input-textarea csc-object-identification-brief-description"></textarea>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="header">
					<!--  >div
						class="label csc-collection-object-faRelatedWorkLabelGroup-label"></div-->
				</div>
				<div class="content">
					<table class="kks-related-group-border">
						<thead>
							<tr>
							<!-- had trouble trying to add this as a logical text -->
								<td class="label">Relaterede værker</td>
								<td
									class="label csc-collection-object-faRelatedWorkLabelLanguage-label"></td>
							</tr>
						</thead>
						<tbody>
							<tr class="csc-collection-object-faRelatedWorkLabelGroup faRelatedWorkLabelGroup-head">
								<td style="width: 80%;">
									<textarea rows="2"
										class="input-textarea csc-fa-related-worklabel"></textarea>
									<!-- >input type="text"
										class="csc-fa-related-worklabel" /-->
								</td>
								<td class="flc-inlineEdit-text"><select
									class="csc-fa-related-worklabel-language input-select"><option
											value="">Options not loaded</option></select></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>		
</div>	
<div class="fl-container-flex fl-fix information-group">
	<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main kks-template-group kks-template-group-b info-column">
		<div class="info-column">
			<div class="info-pair">
				<div class="header">
					<!-- >div class="label csc-collection-object-objectHistoryNote-label"></div-->
				</div>
				<div class="content">
					<table class="kks-template-table">
						<thead class="kks-template-thead">
							<tr>
								<td class="csc-collection-object-smkObjectHistory-label"></td>
								<td class="csc-collection-object-smkObjectHistoryLanguage-label"></td>
							</tr>
						</thead>
						<tbody>
							<tr class="csc-collection-object-smkObjectHistoryGroup">
					
								<td style="width: 80%;">
									<!-- >input type="text" class="csc-smk-object-history" /-->
									<textarea rows="2" 
										class="input-textarea csc-smk-object-history"></textarea></td>
								<td class="flc-inlineEdit-text"><select
									class="csc-smk-object-history-language input-select"><option
											value="">Options not loaded</option></select></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>		
		</div>
	</div>		
</div>			
<div class="fl-container-flex fl-fix information-group">
	<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main kks-template-group kks-template-group-b info-column">
		<div class="info-column">
			<div class="info-pair">
				<div class="header">
					<!-- >div class="label csc-collection-object-referenceGroup-label"></div-->
				</div>
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-collection-object-reference-label"></td>
								<td class="csc-collection-object-referenceNote-label"></td>
							</tr>
						</thead>
						<tbody>
							<tr class="csc-collection-object-referenceGroup">
								<td style="width: 75%;"><input type="text"
									class="csc-collection-object-reference" /></td>
								<td><input type="text"
									class="csc-collection-object-referenceNote" /></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="header">
					<!-- >div class="label csc-collection-object-smkArchiveGroup-label"></div-->
				</div>
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-collection-object-smkArchive-label"></td>
								<td class="csc-collection-object-smkArchiveNote-label"></td>
							</tr>
						</thead>
						<tbody>
							<tr class="csc-collection-object-smkArchiveGroup">
								<td style="width: 75%;"><input type="text" class="csc-smk-archive" /></td>
								<td><input type="text" class="csc-smk-archive-note" /></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="fl-container-flex fl-fix information-group">
	<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main kks-template-group kks-template-group-b info-column">
		<div class="info-column">
			<div class="info-pair">
				<div class="header">
					<!-- div class="label csc-collection-object-comments-label"></div>-->
				</div>
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-collection-object-smkCommentsNote-label"></td>
								<td class="csc-collection-object-smkCommentsLanguage-label"></td>
							</tr>
						</thead>
						<tbody>
							<tr class="csc-collection-object-smkComments">
								<td style="width: 80%;">
										<textarea rows="2" class="input-textarea csc-smk-comments-note"></textarea>
									</td>
								<td class="flc-inlineEdit-text"><select
									class="csc-smk-comments-language input-select"><option
											value="">Options not loaded</option></select></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>	
<div class="fl-container-flex fl-fix information-group">
	<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main kks-template-group info-column">
		<div class="info-column">
			<div class="info-column2-40 fl-force-left kks-repeatable-select">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-collection-object-contentPlaces-label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-object-description-content-place" />
					</div>
				</div>
			</div>	
			<div class="info-column2-60 fl-force-left kks-repeatable-select">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-collection-object-contentPersons-label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-object-description-content-person" />
					</div>
				</div>
			</div>	
		</div>
		<div class="info-column">
			<div class="info-column2-40 fl-force-left kks-repeatable-select">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-collection-object-styles-label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-object-description-style" />
					</div>
				</div>
			</div>	
			<div class="info-column2-60 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<!-- >div
							class="label csc-collection-object-contentEventNameGroup-label"></div-->
					</div>
					<div class="content">
						<table>
							<thead>
								<tr>
									<td class="csc-collection-object-contentEventName-label"></td>
									<td class="csc-collection-object-contentEventNameType-label"></td>
								</tr>
							</thead>
							<tbody>
								<tr class="csc-collection-object-contentEventNameGroup">
									<td style="width: 65%;"><input type="text"
										class="csc-object-description-content-event-name" /></td>
									<td><input type="text"
										class="csc-object-description-content-event-name-type" /></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="header">
					<!-- >div class="label csc-collection-object-contentNote-label"></div-->
				</div>
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-collection-object-contentNote-label"></td>
								<td class="csc-collection-object-smkContentNoteLanguage-label"></td>
							</tr>
						</thead>
						<tbody>
							<tr class="csc-collection-object-smkContentNoteGroup">
								<td style="width: 80%;">
									<textarea rows="2" class="input-textarea csc-smk-content-note"></textarea>
									</td>
								<td class="flc-inlineEdit-text"><select
									class="csc-smk-content-note-language input-select"><option
											value="">Options not loaded</option></select></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="fl-container-flex fl-fix information-group">
	<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main kks-template-group info-column">
		<div class="info-column kks-text">
		<!-- Title - labels are from core, classes from smk -->
			<div class="info-column cs-multipleEdit" id="multipleEdit">
				<div class="info-pair">
					<div class="header">
					</div>
					<div class="content csc-collection-object-smkReferenceTextGroup cs-repeatable-stretched">
						<div class="info-column ">
							<div class="info-pair">
								<div class="header">
									<div class="label csc-collection-object-smkReferenceText-label"></div>
								</div>
								<div class="content">
									<textarea rows="2" class="input-textarea csc-smk-reference-text"></textarea>
								</div>
							</div>
						</div>
						<div class="info-column2-20 fl-force-left ">
							<div class="info-pair">
								<div class="header">
									<div class="label csc-collection-object-smkReferenceTextType-label"></div>
								</div>
								<div class="content">
									<select
									class="csc-smk-reference-text-type input-select"><option
											value="">Options not loaded</option></select>
								</div>
							</div>
						</div>	
						<div class="info-column2-20 fl-force-left ">
							<div class="info-pair">
								<div class="header">
									<div class="label csc-collection-object-smkReferenceTextLanguage-label"></div>
								</div>
								<div class="content">
									<select
									class="csc-smk-reference-text-language input-select"><option
											value="">Options not loaded</option></select>
								</div>
							</div>
						</div>	
						<div class="info-column2-20 fl-force-left">
							<div class="info-pair">
								<div class="header">
									<div class="label csc-collection-object-smkReferenceTextDate-label"></div>
								</div>
								<div class="content">
									<input type="text" class="csc-smk-reference-text-date" />
								</div>
							</div>
						</div>
						<div class="info-column2-40 fl-force-right">
							<div class="info-pair">
								<div class="header">
									<div class="label csc-collection-object-smkReferenceTextAuthor-label"></div>
								</div>
								<div class="content">
									<input type="text" class="csc-smk-reference-text-author" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="fl-container-flex fl-fix information-group">
	<div
		class="csc-recordEditor-header fl-container-flex header toggle csc-collection-object-smkObjectAdministrationInformation-label"></div>
	<div
		class="csc-recordEditor-togglable fl-container-flex fl-fix content main">
		<div class="info-column">
			<div class="info-column2-50 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-collection-object-smkInsuranceValue-label"></div>
					</div>
					<div class="content">
						<table>
							<thead>
								<tr>
									<td class="csc-collection-object-smkInsuranceDate-label"></td>
									<td class="csc-collection-object-smkInsuranceValue-label"></td>
									<td
										class="csc-collection-object-smkInsuranceValueCurrency-label"></td>
									<td class="csc-collection-object-smkInsuranceValuer-label"></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><input type="text" class="csc-smk-insurance-date" /></td>
									<td><input type="text"
										class="input-numeric-medium csc-smk-insurance-value" /></td>
									<td><select
										class="csc-smk-insurance-value-currency input-select"><option
												value="">Options not loaded</option></select></td>
									<td><input type="text" class="csc-smk-insurance-valuer" /></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="info-column2-50 fl-force-right">
				<div class="info-pair-select">
					<div class="header">
						<div class="label csc-collection-object-faLegalStatus-label"></div>
					</div>
					<div class="content">
						<select class="csc-fa-legal-status input-select"><option
								value="">Options not loaded</option></select>
					</div>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-column2-50 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<div
							class="label csc-collection-object-faCopyrightStatement-label"></div>
					</div>
					<div class="content">
						<textarea rows="4" cols="30"
							class="input-textarea csc-fa-copyright-statement"></textarea>
					</div>
				</div>
			</div>
			<div class="info-column2-50 fl-force-right">
				<div class="info-pair-select">
					<div class="header">
						<div
							class="label csc-collection-object-smkSalvagePriorityCode-label"></div>
					</div>
					<div class="content">
						<select class="csc-fa-salvage-priority-code input-select"><option
								value="">Options not loaded</option></select>
					</div>
				</div>
				<div class="info-column2-50 fl-force-right">
					<div class="info-pair">
						<div class="header">
							<div
								class="label csc-collection-object-smkMicroclimateFrame-label"></div>
						</div>
						<div class="content">
							<input type="checkbox" class="csc-smk-microclimate-frame" />
						</div>
					</div>
				</div>
				<div class="info-column2-50 fl-force-left">
					<div class="info-pair">
						<div class="header">
							<div class="label csc-collection-object-smkSupport-label"></div>
						</div>
						<div class="content">
							<input type="checkbox" class="csc-smk-support" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="header">
					<div class="label csc-collection-object-smkPrints-label"></div>
				</div>
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="label csc-collection-object-smkPrintsType-label"></td>
								<td class="label csc-collection-object-smkPrintsAvailable-label"></td>
								<td class="label csc-collection-object-smkPosterNote-label"></td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="label csc-collection-object-smkPoster-label"></td>
								<td><input type="checkbox" class="csc-smk-poster" /></td>
								<td style="width: 80%;"><input type="text"
									class="csc-smk-poster-note"></td>
							</tr>
							<tr>
								<td class="label csc-collection-object-smkPostCard-label"></td>
								<td><input type="checkbox" class="csc-smk-postcard" /></td>
								<td style="width: 90%;"><input type="text"
									class="csc-smk-postcard-note"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="info-pair">
				<div class="header">
					<div class="label csc-collection-object-smkMouldGroup-label"></div>
				</div>
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-collection-object-smkMouldNumber-label"></td>
								<td class="csc-collection-object-smkMouldType-label"></td>
								<td class="csc-collection-object-smkMouldCondition-label"></td>
								<td class="csc-collection-object-smkMouldLocation-label"></td>
								<td class="csc-collection-object-smkMouldNote-label"></td>
							</tr>
						</thead>
						<tbody>
							<tr class="csc-collection-object-smkMouldGroup">
								<td><input type="text" class="csc-smk-mould-number" /></td>
								<td><input type="text" class="csc-smk-mould-type"></td>
								<td><input type="text" class="csc-smk-mould-condition"></td>
								<td><input type="text" class="csc-smk-mould-location"></td>
								<td><input type="text" class="csc-smk-mould-note"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- information-group -->


<!-- SMK SMK SMK SMK SMK -->




<div class="csc-record-hierarchy"></div>