	
		<div class="fl-container-flex fl-fix information-group">
			<div class="csc-recordEditor-header fl-container-flex header toggle csc-collection-object-identificationInformation-label"></div>
			<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main">

                <div class="info-column">              
					<div class="info-column">
	     				<div class="info-column2-50 fl-force-left">
							<div class="info-pair-select">
								<div class="header">
									<span class="label required csc-collection-object-responsibleDepartments-label"></span><span class="required">*</span>
								</div>
								<div class="content">
									<select class="csc-object-identification-responsible-department input-select csc-required"><option value=""></option></select>
								</div>
							</div>
						</div>	
					</div>		
	                
	                <div class="info-column">
	    				<div class="info-column2-40 fl-force-left">	
							<div class="info-pair">
								<div class="header">
									<span class="label required csc-collection-object-objectNumber-label"></span><span class="required">*</span>
								</div>
								<div class="content csc-object-identification-object-number-container clearfix">
									<input type="text" class="csc-object-identification-object-number pattern-chooser-input" />
								</div>
							</div>
						</div>	            

						<div class="info-column2-50 fl-force-right"> 
							<div class="info-pair">
			                    <div class="header">
			                        <div class="label csc-collection-object-computedCurrentLocation-label"></div>
			                    </div>
			                    <div class="content">
			                        <input type="text" class="csc-collection-object-computedCurrentLocation"/>
			                    </div>
		                	</div>
		                </div>
					</div>
				</div>
				 
				<!-- Title - labels are from core, classes from smk -->
				<div class="info-column cs-multipleEdit" id="multipleEdit">
					<div class="info-pair">
						<div class="header">
							<!-- div class="label csc-collection-object-titleGroup-label"></div> -->
							<br>
						</div>
						<div class="content csc-collection-object-smkTitleGroup cs-repeatable-stretched" >
    				        <div class="info-column">
	    				        <div class="info-pair">
		                            <div class="header">
		                                <!-- div class="label csc-collection-object-title-label"></div> -->
		                             </div>
		                           	 <div class="content">
		                             	<table>
		                                	<thead>
			                                	<tr>
			                                  		<td><span class="csc-collection-object-title-label"></span><span class="required">*</span></td>
			                                    	<td class="csc-collection-object-titleLanguage-label"></td>
			                                    	<td class="csc-collection-object-titleType-label"></td>
			                                    	<td class="csc-collection-object-smkTitleDate-label"></td>
			                                    	<td class="csc-collection-object-smkTitleNote-label"></td>
			                                    </tr>
		                                    </thead>
		                                    <tbody>
		                                        <tr>
	            									<td style="width:40%;"><input type="text" class="csc-smk-object-identification-object-title input-alpha csc-required"/></td>
		                                            <td><select class="csc-smk-object-identification-object-title-language input-select"><option value="">Options not loaded</option></select></td>
		                                            <td><select class="csc-smk-object-identification-object-title-type input-select"><option value="">Options not loaded</option></select></td>
		                                        	<td><input type="text" class="csc-smk-title-date" /></td>
		                                        	<td><input type="text" class="csc-smk-title-note"/></td>
		                                        </tr>
		                                    </tbody>
		                                </table>
		                            </div> 
	                         	</div> 
                         	</div>
              				<div class="info-column">
           						<div class="info-pair">
           							<div class="header">
           								<!-- div class="label csc-titleGroup-titleTranslationSubGroup-label"></div> -->
           							</div>
           							<div class="content">
           								<table>
               								<thead>
               									<tr>
               										<td class="csc-collection-object-titleTranslation-label"></td>
               										<td class="csc-collection-object-titleTranslationLanguage-label"></td>
               									    <td class="csc-collection-object-smkTitleTranslationNote-label"></td>
               									</tr>
               								</thead>
               								<tbody>
               									<tr class="csc-smkTitleGroup-smkTitleTranslationSubGroup">
           										    <td class="flc-inlineEdit-text" style="width:60%;"><input type="text" class="csc-smk-object-identification-object-title-translation editableText"/></td>
               										<td class="flc-inlineEdit-text"><select class="csc-smk-collection-object-titleTranslationLanguage input-select"><option value="">Options not loaded</option></select></td>
           										    <td class="flc-inlineEdit-text"><input type="text" class="csc-smk-title-translation-note editableText"/></td>
               									</tr>
               								</tbody>
               							</table>
           							</div>
           						</div>
              				</div>
						</div>
					</div>
				</div>
				<div class="info-pair">
					<div class="header">
						<!-- div class="label csc-collection-object-comments-label"></div>-->
						<br>
					</div>
					<div class="content">
						<table>
							<thead>
								<tr>
									<td class="csc-collection-object-smkCommentsNote-label"></td>
									<td class="csc-collection-object-smkCommentsLanguage-label"></td>
								</tr>
							</thead>
							<tbody>
								<tr class="csc-collection-object-smkComments">
									<td style="width:80%;"><input type="text" class="csc-smk-comments-note"/></td>
              						<td class="flc-inlineEdit-text"><select class="csc-smk-comments-language input-select"><option value="">Options not loaded</option></select></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>				
			</div>
			
		</div> <!-- information-group -->
		
		<div class="fl-container-flex fl-fix information-group">
			<div class="csc-recordEditor-header fl-container-flex header toggle csc-collection-object-objectProductionInformation-label"></div>
			<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main">
				
				<div class="info-column">
					<div class="info-pair">
						<div class="header">
							<!--   div class="label csc-collection-object-objectProductionPersonGroup-label"></div>-->
							<br>
						</div>
						<div class="content">
							<table>
								<thead>
									<tr>
										<td><span class="csc-collection-object-objectProductionPerson-label"></span><span class="required">*</span></td>
										<td class="csc-collection-object-objectProductionPersonRole-label"></td>
 
									</tr>
								</thead>
								<tbody>
									<tr class="csc-collection-object-faObjectProductionPersonGroup">
										 <td style="width:80%;"><input type="text" class="csc-fa-object-production-person csc-required"/></td>
               							<td class="flc-inlineEdit-text"><select class="csc-fa-object-production-person-role input-select"><option value="">Options not loaded</option></select></td>

									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>		
		
				<div class="info-column">
					<div class="info-column2-50 fl-force-left">
						<div class="info-pair">
							<div class="header">
								<!-- div class="label csc-collection-object-objectProductionDateGroup-label"></div> -->
							</div>
							<div class="content">
								<table>
									<thead>
										<tr>
    									    <td class="csc-collection-object-smklabObjectProductionDate-label"></td>
    									    <td class="csc-collection-object-faObjectProductionDateQualifier-label"></td>
										</tr>
									</thead>
									<tbody>        
										<tr class="csc-collection-object-smkObjectProductionDateGroup">
											<td><input type="text" class="csc-object-production-date-smk"/></td>
               							    <td class="flc-inlineEdit-text"><select class="csc-object-production-date-qualifier-smk input-select"><option value="">Options not loaded</option></select></td>											
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>					
				</div>	
			</div>	
		</div> <!-- information-group -->		
                 
		<div class="fl-container-flex fl-fix information-group">
			<div class="csc-recordEditor-header fl-container-flex header toggle csc-collection-object-smkObjectPhysicalCharacteristics-label"></div>
			<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main">

				<div class="info-column">                
	                <div class="info-pair">
				        <div class="header">
				            <!--  div class="label csc-collection-object-faProductionTechniqueGroup-label"></div>-->
				        </div>
				        <div class="content">
				            <table>
				                <thead>
				                    <tr>
				                        <td><span class="csc-collection-object-faProductionTechnique-label"></span><span class="required">*</span></td>
				                        <td class="csc-collection-object-faProductionTechniqueLanguage-label"></td>
				                    </tr>
				                </thead>
				                <tbody>
				                    <tr class="csc-collection-object-faProductionTechniqueGroup">
				                        <!--<td class="table-unselected"></td>-->
				                        <td style="width:80%;"><input type="text" class="csc-fa-object-production-technique csc-required"/></td>
               							<td class="flc-inlineEdit-text"><select class="csc-fa-object-production-technique-language input-select"><option value="">Options not loaded</option></select></td>
				                    </tr>
				                </tbody>
				            </table>
				        </div>
				    </div>	
				</div>
			    <div class="info-column"> 				      
				    <div class="csc-collection-object-dimension"></div>
	            </div>   					
			</div>
		</div> <!-- information-group -->

	
	    <div class="csc-record-hierarchy"></div>

