		<div class="fl-container-flex fl-fix information-group">
			<div class="csc-citation-citationNameAuthorityInformation-label csc-recordEditor-header fl-container-flex header toggle"></div>
			<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main">
			
                <div class="info-column">
                    <div class="info-pair">
                        <div class="header">
                            <div class="label csc-citation-preferredCitation-label"></div>
                        </div>
                        <div class="content">
                            <div class="csc-preferred-citationAuthority"></div>
                        </div>
                    </div>
                </div>                    							
			</div>
			
			<div class="info-column">
				<div class="info-pair">
					<div class="header">
						<div class="csc-citation-labelPublicationInformation-group-label label"></div>
					</div>
					<div class="content">
						<table>
							<thead>
								<tr>
									<td class="csc-citation-labelPublicationInformation-publisher-label label"></td>
									<td class="csc-citation-labelPublicationInformation-place-label label"></td>
									<td class="csc-citation-labelPublicationInformation-date-label label"></td>
									<td class="csc-citation-labelPublicationInformation-edition-label label"></td>
									<td class="csc-citation-labelPublicationInformation-pages-label label"></td>									
								</tr>
							</thead>                                                        
							<tbody>
								<tr class="csc-citation-smkCitationPublicationInfoGroup">
									<td><input type="text" class="csc-smk-citationAuthority-publication-publisher"/></td>
									<td><input type="text" class="csc-smk-citationAuthority-publication-place"/></td>
									<td><input type="text" class="csc-smk-citationAuthority-publication-publicationDate"/></td>
									<td><input type="text" class="csc-smk-citationAuthority-publication-edition"/></td>
									<td><input type="text" class="csc-smk-citationAuthority-publication-pages"/></td>
								</tr>									
							</tbody>
						</table>
					</div>
				</div>
			</div>	
			
			<div class="info-column">
				<div class="info-pair">
					<div class="header">
						<div class="csc-citation-labelAgentInformation-group-label label"></div>
					</div>
					<div class="content">
						<table>
							<thead>
								<tr>
									<td class="csc-citation-labelAgentInformation-agent-label label"></td>
									<td class="csc-citation-labelAgentInformation-role-label label"></td>
									<td class="csc-citation-labelAgentInformation-note-label label"></td>
								</tr>
							</thead>                                                        
							<tbody>
								<tr class="csc-citation-citationAgentInfoGroup">
									<td><input type="text" class="csc-citationAuthority-agentInfo-agent"/></td>
									<td><select class="csc-citationAuthority-agentInfo-role input-select"><option value="">Options not loaded</option></select></td>
									<td><input type="text" class="csc-citationAuthority-agentInfo-note"/></td>																		
								</tr>									
							</tbody>
						</table>
					</div>
				</div>
			</div>											
			
			<div class="info-column">
				<div class="info-column2-60 fl-force-left">
					 <div class="info-pair">
						<div class="header">
							<div class="csc-citation-labelCitationNotes-label label"></div>
						</div>
						<div class="content">
							<input type="text" class="csc-citationAuthority-citation-notes"/>
						</div>
					</div>	
				</div>	
			</div>						
			
			<div class="info-column">
				<div class="info-pair">
					<div class="header">
						<div class="csc-citation-labelResourceIdentifiers-group-label label"></div>
					</div>
					<div class="content">
						<table>
							<thead>
								<tr>
									<td class="csc-citation-labelResourceIdentifiers-id-label label"></td>								
									<td class="csc-citation-labelResourceIdentifiers-type-label label"></td>
									<td class="csc-citation-labelResourceIdentifiers-capture-date-label label"></td> 									
								</tr>
							</thead>                                                        
							<tbody>
								<tr class="csc-citation-smkCitationResourceIdentGroup">
									<td><input type="text" class="csc-smk-citationAuthority-resourceId-id"/></td>
									<td><select class="csc-smk-citationAuthority-resourceId-type input-select"><option value="">Options not loaded</option></select></td>
									<td><input type="text" class="csc-smk-citationAuthority-resourceId-captureDate"/></td>																		
								</tr>									
							</tbody>
						</table>
					</div>
				</div>
			</div>			
			
			<div class="info-column">
				<div class="info-pair">
					<div class="header">
						<div class="csc-citation-labelRelatedTerms-group-label label"></div>
					</div>
					<div class="content">
						<table>
							<thead>
								<tr>
									<td class="csc-citation-labelRelatedTerms-related-label label"></td>	
									<td class="csc-citation-labelRelatedTerms-type-label label"></td>
								</tr>
							</thead>                                                        
							<tbody>
								<tr class="csc-citation-citationRelatedTermsGroup">
									<td><input type="text" class="csc-citationAuthority-relatedTerms-relatedTerm"/></td>
									<td><select class="csc-citationAuthority-relatedTerms-relationType input-select"><option value="">Options not loaded</option></select></td>																	
								</tr>									
							</tbody>
						</table>
					</div>
				</div>
			</div>					     						
		</div>
		
		
		<div class="csc-record-hierarchy"></div>
		
		
