<div class="csc-exhibition-exhibitionInformation-label csc-recordEditor-header fl-container-flex header toggle"></div>
<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main">	
	
	<div class="info-column">
		<div class="info-column2-50 fl-force-left">
			<div class="info-pair">
				<div class="header">
					<span class="csc-exhibition-exhibitionTitle-label label"></span><span class="required">*</span>
				</div>
				<div class="content csc-exhibition-title-container clearfix">
					<input type="text" class="csc-exhibition-title"/>
				</div>
			</div>
		</div>
	</div>	
	
	<div class="info-column">
		<div class="info-column2-50 fl-force-left">
			<div class="info-pair">
				<div class="header">
					<span class="csc-exhibition-exhibitionCurator-label label"></span>
				</div>
				<div class="content csc-exhibition-curators clearfix">
					<input type="text" class="input-autocomplete csc-exhibition-curator"/>
				</div>
			</div>
		</div>
	</div>		
	
	<div class="info-column">
		<div class="info-pair">
			<div class="header">
				<div class="csc-exhibition-smkExhibitionVenueGroup-label label"></div>
			</div>
			<div class="content">
				<table>
					<thead>
						<tr>							
							<td class="csc-exhibition-smkExhibitionVenue-label label"></td>
							<td class="csc-exhibition-exhibitionDateFrom-label label"></td>
							<td class="csc-exhibition-exhibitionDateTo-label label"></td>
						</tr>
					</thead>                                                                    
					<tbody>
						<tr class="csc-exhibition-smkExhibitionVenueGroup">                                                                    							
							<td><input type="text"  class="input-autocomplete csc-exhibition-smkExhibitionVenue" /></td>
							<td><input type="text"  class="csc-smk-exhibition-dateFrom" /></td>
							<td><input type="text"  class="csc-smk-exhibition-dateTo" /></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>					


	<div class="info-column">
		<div class="info-pair">
			<div class="header">				
				<span class="csc-exhibition-exhibitionRemarks-label label"></span>		
			</div>
			<div class="content">
				<textarea rows="4" cols="30" class="input-textarea csc-exhibition-remarks"></textarea>
			</div>
		</div>
	</div>
	
			
</div>