            <div class="fl-container-flex fl-fix information-group">                                         
                <div class="csc-recordEditor-header fl-container-flex header toggle csc-intake-objectEntryInformation-label"></div>
                <div class="csc-recordEditor-togglable fl-container-flex fl-fix content main">
                    <div class="info-column">
                        <div class="info-column2-50 fl-force-left" >                                                
                            <div class="info-pair">
                                <span class="label required csc-intake-entryNumber-label"></span><span class="required">*</span>
                                <div class="content csc-intake-entry-number-container clearfix"><input type="text" class="input-alpha csc-intake-entry-number pattern-chooser-input" /></div>
                            </div>
                            
                            <div class="info-pair-date">
                                <div class="label csc-intake-entryDate-label"></div>
                                <div class="content">
                                    <input type="text" class="csc-intake-entry-date" />
                                </div>                                                    
                            </div>
                            
                            <div class="info-pair">
                                <div class="header">
                                    <div class="label csc-intake-smkConsignee-label"></div>
                                </div>
                                <div class="content">
                                     <input type="text" class="input-autocomplete csc-smk-intake-consignee" />
                                </div>
                            </div>
                            
                            <div class="info-pair">
                                <div class="header">
                                    <div class="label csc-intake-smkResponsible-label"></div>
                                </div>
                                <div class="content">
                                     <input type="text" class="input-autocomplete csc-smk-intake-responsible" />
                                </div>
                            </div>                                         
                        </div>
                    
                        <div class="info-column2-50 fl-force-right">
                            <div class="info-pair">
                                <div class="header">
                                    <div class="label csc-intake-currentOwner-label"></div>
                                </div>
                                <div class="content">
                                    <input type="text" class="input-autocomplete csc-intake-current-owner" />                                                                   
                                </div>
                            </div>
                            
                            <div class="info-pair-select">
                                <div class="header">
                                    <div class="label csc-intake-entryReason-label"></div>
                                </div>
                                <div class="content">
                                    <table>                                        
                                        <tbody>
                                            <tr class="csc-intake-entry-reason-row">
                                                <td><select class="csc-intake-entry-reason input-select"><option value="">Options not loaded</option></select></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                           <div class="info-pair-date">
                                <div class="header">
                                    <div class="label csc-intake-returnDate-label"></div>
                                </div>
                                <div class="content">
                                    <input type="text" class="csc-intake-returnDate" />
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="info-column">
                        <div class="info-pair">
                            <div class="header">
                                <div class="label csc-intake-entryNote-label"></div>
                            </div>
                            <div class="content">
                                <textarea rows="4" cols="30" class="input-textarea csc-intake-entry-note" />
                            </div>
                        </div>
                    
                        <div class="info-pair">
                            <div class="header">
                                <div class="label csc-intake-packingNote-label"></div>
                            </div>
                            <div class="content">
                                <textarea rows="4" cols="30" class="input-textarea csc-intake-packing-note" />
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

