			<div class="csc-recordEditor-header fl-container-flex header toggle label csc-loanout-loanoutInformation-label"></div>
			<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main">
				<div class="info-column">
					<div class="info-column2-50 fl-force-left">
						<div class="info-pair">
							<span class="label required csc-loanout-loanOutNumber-label"></span><span class="required">*</span>
							<div class="content csc-loanOut-loanOutNumber-patternChooserContainer clearfix">
								<input type="text" class="input-numeric-long csc-loanOut-loanOutNumber pattern-chooser-input" />
							</div>
						</div>
					</div>
					<div class="info-column2-50 fl-force-right">
						<div class="info-pair-select">
							<div class="header">
								<div class="label csc-loanout-loanPurpose-label"></div>
							</div>
							<div class="content">
								<select class="csc-loanOut-loanPurpose input-select"><option value="">Options not loaded</option></select>
							</div>
						</div>
					</div>
				</div>
				
				<div class="info-column">
					<div class="info-column3 fl-force-left">
						<div class="info-pair-date">
							<div class="header">
								<div class="label csc-loanout-loanOutDate-label"></div>
							</div>
							<div class="content">
								<input type="text" class="csc-loanOut-loanOutDate" />
							</div>
						</div>
					</div>
				
					<div class="info-column3 fl-force-left">
						<div class="info-pair-date">
							<div class="header">
								<div class="label csc-loanout-loanReturnDate-label"></div>
							</div>
							<div class="content">
								<input type="text" class="csc-loanOut-loanReturnDate" />
							</div>
						</div>
					</div>
				
					<div class="info-column3 fl-force-left">
						<div class="info-pair-date">
							<div class="header">
								<div class="label csc-loanout-loanRenewalApplicationDate-label"></div>
							</div>
							<div class="content">
								<input type="text" class="csc-loanOut-loanRenewalApplicationDate" />
							</div>
						</div>
					</div>
				</div>	
							
				<div class="info-column">
                    <div class="info-pair">
                        <div class="header">
                            <div class="label csc-loanout-lenderGroup-label"></div>
                        </div>
                        <div class="content">
                            <table>
                                <thead>
                                    <tr>
                                        <td class="label csc-loanout-lendersAuthorizer-label"></td>
                                        <td class="label csc-loanout-lendersContact-label"></td>
                                        <td class="label csc-loanout-lendersAuthorizationDate-label"></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" class="csc-loanOut-lendersAuthorizer" /></td>
                                        <td><input type="text" class="csc-loanOut-lendersContact" /></td>
                                        <td><input type="text" class="csc-loanOut-lendersAuthorizationDate" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
				
				<div class="info-column">
					<div class="info-pair">
						<div class="header">
							<div class="label csc-loanout-loanStatusGroup-label"></div>
						</div>
						<div class="content">
							<table>
								<thead>
									<tr>
										<td class="label csc-loanout-loanStatus-label"></td>										
										<td class="label csc-loanout-loanStatusNote-label"></td>
										<td class="label csc-loanout-loanStatusDate-label"></td>
									</tr>
								</thead>
								<tbody>
									<tr class="csc-loanout-loanStatusGroup">
										<td><select class="input-select csc-loanOut-loanedObjectStatus"><option value="">Options not loaded</option></select></td>										
										<td><input type="text" class="csc-loanOut-loanedObjectStatusNote" /></td>
										<td><input type="text" class="csc-loanOut-loanedObjectStatusDate" /></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
				<div class="info-column">
                    <div class="info-pair">
                        <div class="header">
                            <div class="label csc-loanout-borrower-label"></div>
                        </div>
                        <div class="content">
                            <table>
                                <thead>
                                    <tr>
                                        <td class="label csc-loanout-borrower-label"></td>
                                        <td class="label csc-loanout-borrowersContact-label"></td>
                                        <td class="label csc-loanout-borrowersAuthorizer-label"></td>
                                        <td class="label csc-loanout-borrowersAuthorizationDate-label"></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" class="csc-loanOut-borrower" /></td>
                                        <td><input type="text" class="csc-loanOut-borrowersContact" /></td>
                                        <td><input type="text" class="csc-loanout-borrowersAuthorizer" /></td>
                                        <td><input type="text" class="csc-loanout-borrowersAuthorizationDate" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="info-column">
                    <div class="info-column2-50 fl-force-left">
                        <div class="info-pair">
                            <div class="header">
                                <div class="label csc-loanout-specialConditionsOfLoan-label"></div>
                            </div>
                            <div class="content">
                                <textarea rows="4" cols="30" class="input-textarea csc-loanOut-loanOutConditions" />
                            </div>
                        </div>                      
                    </div>
                    
                    <div class="info-column2-50 fl-force-right">
                        <div class="info-pair">
                            <div class="header">
                                <div class="label csc-loanout-loanOutNote-label"></div>
                            </div>
                            <div class="content">
                                <textarea rows="4" cols="30" class="input-textarea csc-loanOut-loanOutNote"/>
                            </div>
                        </div>
                    </div>
                </div>				
				
			</div>
