<div class="fl-container-flex fl-fix information-group">
	<div class="csc-recordEditor-header fl-container-flex header toggle csc-movement-locationMovementInformation-label"></div>
	<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main">
		<div class="info-column">
		    <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <span class="label required csc-movement-movementReferenceNumber-label"></span><span class="required">*</span>
                    </div>
                    <div class="content csc-movement-movementReferenceNumber-container">
                        <input type="text" class="csc-movement-movementReferenceNumber pattern-chooser-input csc-required" />
                    </div>
                </div>
            </div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="header">
					<div class="label required csc-movement-currentLocationHeader-label"></div>
				</div>
				<div class="content">
					<table>
						<thead>
							<tr>
								<td><span class="csc-movement-currentLocation-label"></span><span class="required">*</span></td>
								<td><span class="csc-movement-currentLocationFitness-label"></span><span class="required">*</span></td>
								<td class="csc-movement-currentLocationNote-label"></td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input type="text" class="csc-movement-currentLocation csc-required" /></td>
								<td><select class="csc-movement-currentLocationFitness csc-required input-select"><option value="">Options not loaded</option></select></td>
								<td><input type="text" class="csc-movement-currentLocationNote" /></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-column2-50 fl-force-left">
				<div class="info-pair-date">
					<div class="header">
						<span class="label csc-movement-locationDate-label"></span><span class="required">*</span>
					</div>
					<div class="content">
						<input type="text" class="csc-movement-locationDate csc-required" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div> <!-- information-group -->


<!-- Inventory section -->
<div class="fl-container-flex fl-fix information-group">
	<div class="csc-recordEditor-header fl-container-flex header toggle csc-movement-inventory-label"></div>
    <div class="csc-recordEditor-togglable fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-column2-50 fl-force-left">
                    <div class="info-pair-select">
                        <div class="header">
                            <div class="label csc-movement-inventoryActionRequired-label"></div>
                        </div>
                        <div class="content">
                            <select class="csc-movement-inventoryActionRequired input-select"><option value="">Options not loaded</option></select>
                        </div>
                    </div>
                </div>
                <div class="info-column2-50 fl-force-right">
                    <div class="info-pair-select">
                        <div class="header">
                            <div class="label csc-movement-frequencyForInventory-label"></div>
                        </div>
                        <div class="content">
                            <select class="csc-movement-frequencyForInventory input-select"><option value="">Options not loaded</option></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-column2-50 fl-force-right">
                <div class="info-column2-50 fl-force-left">
                    <div class="info-pair-date">
                        <div class="header">
                            <div class="label csc-movement-inventoryDate-label"></div>
                        </div>
                        <div class="content">
                            <input type="text" class="csc-movement-inventoryDate" />
                        </div>
                    </div>
                </div>
                <div class="info-column2-50 fl-force-right">
                    <div class="info-pair-date">
                        <div class="header">
                            <div class="label csc-movement-nextInventoryDate-label"></div>
                        </div>
                        <div class="content">
                            <input type="text" class="csc-movement-nextInventoryDate" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-movement-inventoryContact-label"></div>
                    </div>
                    <div class="content">
                        <input type="text" class="input-alpha csc-movement-inventoryContact" />
                    </div>
                </div>
            </div>
            <div class="info-column2-50 fl-force-right">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-movement-inventoryNote-label"></div>
                    </div>
                    <div class="content">
                        <textarea rows="4" cols="30" class="input-textarea csc-movement-inventoryNote"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inventory section -->