			<div class="csc-objectexit-objectexitInformation-label csc-recordEditor-header fl-container-flex header toggle"></div>
			<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main"> 
				<div class="info-column">
					<div class="info-column2-50 fl-force-left" >	
						<div class="info-pair">
							<div class="header">
								<span class="csc-objectexit-exitNumber-label label required"></span><span class="required">*</span>
							</div>
							<div class="content csc-objectexit-exitNumber-container clearfix">
								<input type="text" class="input-numeric-long csc-objectexit-exitNumber pattern-chooser-input" />
							</div>
						</div>						
						<div class="info-pair-date">
  								<div class="csc-objectexit-exitDateGroup-label label"></div>
							<div class="content">
								<input type="text" class="csc-smk-objectexit-exitdate"/>
							</div>
						</div>	
						<div class="info-pair">
							<div class="header">
								<div class="label csc-objectexit-smkConsignor-label"></div>
							</div>
							<div class="content">
								<input type="text" class="input-alpha csc-smk-objectexit-consignor" />
							</div>
						</div>						
					</div>
					
					<div class="info-column2-50 fl-force-right">	
						<div class="info-pair">
							<div class="header">
								<div class="csc-objectexit-currentOwner-label label"></div>
							</div>
							<div class="content">
								<input type="text" class="input-alpha csc-objectexit-currentOwner" />
							</div>
						</div>
						<div class="info-pair-select">
							<div class="header">
								<div class="csc-objectexit-exitReason-label label"></div>
							</div>
							<div class="content">
								<select class="csc-objectexit-exitReason input-select"><option value=""></option></select>
							</div>
						</div>
					</div>
				</div>
				
				<div class="info-column">
					<div class="info-pair">
						<div class="header">
							<div class="csc-objectexit-exitNote-label label"></div>
						</div>
						<div class="content">
							<textarea rows="4" cols="30" class="input-textarea csc-objectexit-exitNote" ></textarea>
						</div>
					</div>
				</div>
				
				<div class="info-column">
					<div class="info-pair">
						<div class="header">
							<div class="csc-objectexit-packingNote-label label"></div>
						</div>
						<div class="content">
							<textarea rows="4" cols="30" class="input-textarea csc-objectexit-packingNote" ></textarea>
						</div>
					</div>
				</div>  
			</div>
