		<div class="fl-container-flex fl-fix information-group">
			<div class="csc-person-personNameAuthorityInformation-label csc-recordEditor-header fl-container-flex header toggle"></div>
			<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main">
			
                <div class="info-column">
                    <div class="info-pair">
                        <div class="header">
                            <div class="label csc-person-preferredPerson-label"></div>
                        </div>
                        <div class="content">
                            <div class="csc-preferred-personAuthority"></div>
                        </div>
                    </div>
                </div>
                <div class="info-column">  
	                <div class="info-column">    			
						<div class="info-column2-40 fl-force-left">
							<div class="info-pair">
								<div class="header">
									<div class="label csc-person-smkOtherPersonNumberGroup-label"></div>
								</div>
								<div class="content">
									<table>
										<thead>
											<tr>
												<td class="csc-person-smkOtherPersonNumber-label"></td>
												<td class="csc-person-smkOtherPersonNumberType-label"></td>
											</tr>
										</thead>
										<tbody>
											<tr class="csc-person-smkOtherPersonNumberGroup">
												<td><input type="text" class="csc-smk-person-other-number"/></td>
												<td><select class="csc-smk-person-other-number-type input-select"><option value="">Options not loaded</option></select></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="info-column2-25">
							<div class="info-pair-select">
								<div class="header">
									<div class="csc-person-gender-label label"></div>
								</div>
								<div class="content">
									<select class="csc-personAuthority-gender input-select"><option value="">Options not loaded</option></select>
								</div>
							</div>
						</div>
					</div>
		
				
					<div class="info-column">				
						<div class="info-column2-40 fl-force-left">	
							<div class="info-pair">
								<div class="header">
									<div class="csc-person-occupations-label label"></div>
								</div>
								<div class="content">
									<select class="csc-personAuthority-occupation input-select"><option value="">Options not loaded</option></select>
								</div>
							</div>
							
							<div class="info-pair">
								<div class="header">
									<div class="csc-person-nationalities-label label"></div>
								</div>
								<div class="content">
									<select class="csc-personAuthority-nationality input-select"><option value="">Options not loaded</option></select>
								</div>
							</div>
						</div>
						
						<div class="info-column2-60 fl-force-right">
							
							<div class="info-column">
								<div class="info-column2-40 fl-force-left">
									<div class="info-pair-date">
										<div class="header">
											<div class="csc-person-smkLabelPersonBirthDate-label label"></div>
										</div>
										<div class="content">
											<input type="text" class="csc-smk-personAuthority-birthDate" />
										</div>                                              
									</div>
									
									<div class="info-pair-date">
										<div class="header">
											<div class="csc-person-smkLabelPersonDeathDate-label label"></div>
										</div>
										<div class="content">
											<input type="text" class="csc-smk-personAuthority-deathDate" />
										</div>                                              
									</div>								
								</div>
						
								<div class="info-column2-60 fl-force-right">
									<div class="info-pair">
										<div class="header">
											<div class="csc-person-birthPlace-label label"></div>
										</div>
										<div class="content">
											<input type="text" class="csc-personAuthority-birthPlace" />
										</div>
									</div>
								
									<div class="info-pair">
										<div class="header">
											<div class="csc-person-deathPlace-label label"></div>
										</div>
										<div class="content">
											<input type="text" class="csc-personAuthority-deathPlace" />
										</div>
									</div>								
								</div>
							</div>
						</div>
					</div>
					<div class="info-column">
						<div class="info-pair">
							<div class="header">
								<div class="label csc-person-faPersonEventGroup-label"></div>
							</div>
							<div class="content">
								<table>
									<thead>
										<tr>
											<td class="csc-person-smkLabelPersonEvent-label"></td>
											<td class="csc-person-smkLabelPersonEventPlace-label"></td>
											<td class="csc-person-smkLabelPersonEventDateFrom-label"></td>
											<td class="csc-person-smkLabelPersonEventDateTo-label"></td>
										</tr>
									</thead>                                                        
									<tbody>
										<tr class="csc-person-smkPersonEventDateGroup">
											<td><select class="csc-smk-person-event input-select"><option value="">Options not loaded</option></select></td>
											<td><input type="text" class="csc-smk-person-event-place"/></td>
											<td><input type="text" class="csc-smk-personAuthority-eventDateFrom"/></td>
											<td><input type="text" class="csc-smk-personAuthority-eventDateTo"/></td>
										</tr>									
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="info-column">
						<div class="info-pair">
							<div class="header">
								<div class="label csc-person-smkBiographicalNoteGroup-label"></div>
							</div>
							<div class="content">
								<table>
									<thead>
										<tr>
											<td class="csc-person-smkBiographicalNote-label"></td>	
								     		<td class="csc-person-smkBiographicalNoteLanguage-label"></td>	
										</tr>
									</thead>
									<tbody>
										<tr class="csc-person-smkBiographicalNoteGroup">
											<td style="width:80%;"><input type="text" class="csc-smk-person-bio-note"/></td>
		              							<td><select class="csc-smk-person-bio-note-language input-select"><option value="">Options not loaded</option></select></td>
										</tr>
									</tbody>
								</table>
								</div>
						</div>
					</div>
					<div class="info-column">
						<div class="info-column2-60 fl-force-left">
							 <div class="info-pair">
								<div class="header">
									<div class="label csc-person-smkPersonCopyright-label"></div>
								</div>
								<div class="content">
									<input type="text" class="csc-smk-person-copyright"/>
								</div>
							</div>	
						</div>	
					</div>	
				</div>	
			</div>
		</div><!-- information-group -->
			
		<div class="fl-container-flex fl-fix information-group">
			<div class="csc-person-contactInformation-label csc-recordEditor-header fl-container-flex header toggle"></div>
			<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main">
			    <div class="info-column">
					<div class="info-column2-50 fl-force-left">
						<div class="info-pair">
    						<div class="header">
    							<div class="csc-contact-emailGroup-label label"></div>
    						</div>
    						<div class="content">
    							<table>
    								<thead>
    									<tr>
    										<td class="csc-contact-emailType-label"></td>
    										<td class="csc-contact-email-label"></td>
    									</tr>
    								</thead>
    								<tbody>
    									<tr class="csc-contact-emailGroup">
    										<td><select class="csc-contact-emailType input-select"><option value="">Options not loaded</option></select></td>
    										<td><input type="text" class="csc-contact-email"/></td>
    									</tr>
    								</tbody>
    							</table>
    						</div>
    					</div>

						<div class="info-pair">
    						<div class="header">
    							<div class="csc-contact-telephoneNumberGroup-label label"></div>
    						</div>
    						<div class="content">
    							<table>
    								<thead>
    									<tr>
    										<td class="csc-contact-telephoneNumberType-label"></td>
    										<td class="csc-contact-telephoneNumber-label"></td>
    									</tr>
    								</thead>
    								<tbody>
    									<tr class="csc-contact-telephoneNumberGroup">
    										<td><select class="csc-contact-telephoneNumberType input-select"><option value="">Options not loaded</option></select></td>
    										<td><input type="text" class="csc-contact-telephoneNumber"/></td>
    									</tr>
    								</tbody>
    							</table>
    						</div>
    					</div>
					</div>

					<div class="info-column2-50 fl-force-right">
    					<div class="info-pair">
    						<div class="header">
    							<div class="csc-contact-faxNumberGroup-label label"></div>
    						</div>
    						<div class="content">
    							<table>
    								<thead>
    									<tr>
    										<td class="csc-contact-faxNumberType-label"></td>
    										<td class="csc-contact-faxNumber-label"></td>
    									</tr>
    								</thead>
    								<tbody>
    									<tr class="csc-contact-faxNumberGroup">
    										<td><select class="csc-contact-faxNumberType input-select"><option value="">Options not loaded</option></select></td>
    										<td><input type="text" class="csc-contact-faxNumber"/></td>
    									</tr>
    								</tbody>
    							</table>
    						</div>
    					</div>
    					
    					<div class="info-pair">
    						<div class="header">
    							<div class="csc-contact-webAddressGroup-label label"></div>
    						</div>
    						<div class="content">
    							<table>
    								<thead>
    									<tr>
    										<td class="csc-contact-webAddressType-label"></td>
    										<td class="csc-contact-webAddress-label"></td>
    									</tr>
    								</thead>
    								<tbody>
    									<tr class="csc-contact-webAddressGroup">
    										<td><select class="csc-contact-webAddressType input-select"><option value="">Options not loaded</option></select></td>
    										<td><input type="text" class="csc-contact-webAddress"/></td>
    									</tr>
    								</tbody>
    							</table>
    						</div>
    					</div>
					</div>
				</div>

				<div class="info-column">
				    <div class="info-pair">
						<div class="header">
							<div class="csc-contact-addressGroup-label label"></div>
						</div>
						<div class="content">
							<div class="info-column csc-contact-addressGroup">
								<div class="info-column2-50 fl-force-left">
									<div class="info-pair">
										<div class="header">
											<div class="csc-contact-addressType-label label"></div>
										</div>
										<div class="content">
											<select class="csc-contact-addressType input-select"><option value="">Options not loaded</option></select>
										</div>
									</div>
									
									<div class="info-pair">
										<div class="header">
											<div class="csc-contact-addressPlace1-label label"></div>
										</div>
										<div class="content">
											<input type="text" class="csc-contact-addressPlace1"/>
										</div>
									</div>
									
									<div class="info-pair">
										<div class="header">
											<div class="csc-contact-addressPlace2-label label"></div>
										</div>
										<div class="content">
											<input type="text" class="csc-contact-addressPlace2"/>
										</div>
									</div>
									
								</div>
								<div class="info-column2-50 fl-force-right">
									<div class="info-pair">
										<div class="header">
											<div class="csc-contact-addressMunicipality-label label"></div>
										</div>
										<div class="content">
											<input type="text" class="csc-contact-addressMunicipality"/>
										</div>
									</div>
									
									<div class="info-pair">
										<div class="header">
											<div class="csc-contact-addressCountry-label label"></div>
										</div>
										<div class="content">
											<input type="text" class="csc-contact-addressCountry"/>
										</div>
									</div>
									
									<div class="info-pair">
										<div class="header">
											<div class="csc-contact-addressPostCode-label label"></div>
										</div>
										<div class="content">
											<input type="text" class="csc-contact-addressPostCode"/>
										</div>
									</div>
									
									<div class="info-pair">
										<div class="header">
											<div class="csc-contact-addressStateOrProvince-label label"></div>
										</div>
										<div class="content">
											<input type="text" class="csc-contact-addressStateOrProvince"/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- information-group -->
		
		<div class="csc-record-hierarchy"></div>
		
