<div class="secondary-nav-menu-sub">
    <span class="csc-recordTraverser"></span>
    <div class="csc-recordLock"></div>
    <div class="button-row">
        <a class="csc-goto gotoButton"></a>
        <input type="button" class="csc-createFromExisting createFromExistingButton" />
        <input type="button" class="csc-createChildFromExisting createChildFromExistingButton" />
        <input type="button" class="csc-createVersoFromExisting createVersoFromExistingButton" />
        <input type="button" class="csc-cancel cancelButton" />
        <input type="button" class="csc-deleteRelation deleteButton" />
        <input type="button" class="csc-delete deleteButton" />
        <input type="button" class="csc-save saveButton" />                                           
    </div>
</div>