<div class="cs-miniView">
    <a href="#" class="csc-autocomplete-popup-miniView-displayName cs-autocomplete-popup-miniView-displayName"></a>
    <div>
        <span class="csc-autocomplete-popup-miniView-field1Label cs-autocomplete-popup-miniView-field1Label"></span>
        <span class="csc-autocomplete-popup-miniView-field1 cs-autocomplete-popup-miniView-field1"></span>
    </div>
    <div>
        <span class="csc-autocomplete-popup-miniView-field2Label cs-autocomplete-popup-miniView-field2Label"></span>
        <span class="csc-autocomplete-popup-miniView-field2 cs-autocomplete-popup-miniView-field2"></span>
    </div>
    <div>
        <span class="csc-autocomplete-popup-miniView-field3Label cs-autocomplete-popup-miniView-field3Label"></span>
        <span class="csc-autocomplete-popup-miniView-field3 cs-autocomplete-popup-miniView-field3"></span>
    </div>
    <div>
        <span class="csc-autocomplete-popup-miniView-field4Label cs-autocomplete-popup-miniView-field4Label"></span>
        <span class="csc-autocomplete-popup-miniView-field4 cs-autocomplete-popup-miniView-field4"></span>
    </div>
    <div>
        <span class="csc-autocomplete-popup-miniView-field5Label cs-autocomplete-popup-miniView-field5Label"></span>
        <span class="csc-autocomplete-popup-miniView-field5 cs-autocomplete-popup-miniView-field5"></span>
    </div>
    <div>
        <span class="csc-autocomplete-popup-miniView-field6Label cs-autocomplete-popup-miniView-field6Label"></span>
        <span class="csc-autocomplete-popup-miniView-field6 cs-autocomplete-popup-miniView-field6"></span>
    </div>
</div>
