<!-- NumberPatternChooser template -->
<div class="csc-numberPatternChooser cs-numberPatternChooser">
    <input type="button" value="Vælg format" class="csc-numberPatternChooser-button numberPatternChooserButton cs-numberPatternChooser-button secondaryButton" />
    <div class="clear"></div>
    <table class="csc-numberPatternChooser-list cs-numberPatternChooser-list">
        <thead>
            <tr>
                <th></th>
                <th class="csc-numberPatternChooser-typeColumnHeader"></th>
                <th class="csc-numberPatternChooser-sampleColumnHeader"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="csc-numberPatternChooser-patternRow">
                <td class="csc-numberPatternChooser-checkmark"></td>
                <td class="csc-numberPatternChooser-name"></td>
                <td class="csc-numberPatternChooser-sample sample"></td>
            </tr>
        </tbody>
    </table>
</div>
