<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-movement-currentLocation-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-movement-currentLocation"/>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-movement-currentLocationFitness-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-movement-currentLocationFitness input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-movement-locationDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-movement-locationDateStart-label"></td>
                                    <td class="csc-movement-locationDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-movement-locationDateStart" /></td>
                                    <td><input type="text" class="csc-movement-locationDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-movement-movementContact-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-movement-movementContact"/>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-movement-movementMethod-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-movement-movementMethods input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-movement-movementReferenceNumber-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-movement-movementReferenceNumber"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-movement-plannedRemovalDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-movement-plannedRemovalDateStart-label"></td>
                                    <td class="csc-movement-plannedRemovalDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-movement-plannedRemovalDateStart" /></td>
                                    <td><input type="text" class="csc-movement-plannedRemovalDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-movement-removalDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-movement-removalDateStart-label"></td>
                                    <td class="csc-movement-removalDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-movement-removalDateStart" /></td>
                                    <td><input type="text" class="csc-movement-removalDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-movement-reasonForMove-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-movement-reasonForMove input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-movement-inventoryDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-movement-inventoryDateStart-label"></td>
                                    <td class="csc-movement-inventoryDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-movement-inventoryDateStart" /></td>
                                    <td><input type="text" class="csc-movement-inventoryDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-movement-inventoryContact-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-movement-inventoryContact"/>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-movement-inventoryActionRequired-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-movement-inventoryActionRequired input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-movement-inventoryNote-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-movement-inventoryNote"/>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-movement-frequencyForInventory-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-movement-frequencyForInventory input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-movement-nextInventoryDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-movement-nextInventoryDateStart-label"></td>
                                    <td class="csc-movement-nextInventoryDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-movement-nextInventoryDateStart" /></td>
                                    <td><input type="text" class="csc-movement-nextInventoryDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-movement-updatedBy-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-movement-updatedBy"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-movement-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                            <tr>
                                <td class="csc-movement-updatedAtStart-label"></td>
                                <td class="csc-movement-updatedAtEnd-label"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="text" class="csc-movement-updatedAtStart" /></td>
                                <td><input type="text" class="csc-movement-updatedAtEnd" /></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
