<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-person-termDisplayName-label"></div>
                    </div>
                    <div class="content clearfix csc-preferredPA-personTermGroup">
                        <input type="text" class="csc-personAuthority-termDisplayName"/>
                    </div>        
                </div>
                
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-person-smkBirthDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-person-smkBirthDateStart-label"></td>
                                    <td class="csc-person-smkBirthDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-person-smkBirthDateStart" /></td>
                                    <td><input type="text" class="csc-person-smkBirthDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
             
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-person-smkDeathDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-person-smkDeathDateStart-label"></td>
                                    <td class="csc-person-smkDeathDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-person-smkDeathDateStart" /></td>
                                    <td><input type="text" class="csc-person-smkDeathDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>               
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-person-gender-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-personAuthority-gender input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>
                
				<div class="info-pair">
                      <div class="header">
                          <div class="label">Aktivitet</div>
                      </div>
                      <div class="content clearfix">
                          <select class="csc-person-smkPersonEventSearch input-select">
                              <option value="">Options not loaded</option>
                          </select>
                      </div>
                  </div>
		         <div class="info-pair">
                     <div class="header">
                         <div class="label">Aktivitet - Sted</div>
                     </div>
                     <div class="content clearfix">
                     		<input type="text" class="csc-person-smkPersonEventPlaceSearch"/>	                                  
                     </div>
                 </div>
                 
                 <div class="info-pair">
                    <div class="header">
                        <div class="label">Aktivitet - Fra</div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-person-smkPersonEventDateFromStart-label"></td>
                                    <td class="csc-person-smkPersonEventDateFromEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-person-smkPersonEventDateFromStart" /></td>
                                    <td><input type="text" class="csc-person-smkPersonEventDateFromEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="info-pair">
                    <div class="header">
                        <div class="label">Aktivitet - Til</div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-person-smkPersonEventDateToStart-label"></td>
                                    <td class="csc-person-smkPersonEventDateToEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-person-smkPersonEventDateToStart" /></td>
                                    <td><input type="text" class="csc-person-smkPersonEventDateToEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>		         
		         
		         <div class="info-pair">
                    <div class="header">
                        <div class="label">Biografisk note</div>
                    </div>
                    <div class="content clearfix csc-person-smkBiographicalNoteGroup">
                        <input type="text" class="csc-smk-person-bio-note"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-person-smkPersonCopyright-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-smk-person-copyright"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-person-updatedBy-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-person-updatedBy"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-person-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-person-updatedAtStart-label"></td>
                                    <td class="csc-person-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-person-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-person-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                                                     
            </div>
        </div>
    </div>
</div>    
