<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-citation-termFullCitation-label"></div>
                    </div>
                    <div class="content clearfix csc-preferredCI-citationTermGroup">
                        <input type="text" class="csc-citationAuthority-termFullCitation"/>
                    </div>         
                </div>
               
               
               
             	<div class="info-pair">
                    <div class="header">
                        <div class="label csc-citation-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-citation-updatedAtStart-label"></td>
                                    <td class="csc-citation-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-citation-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-citation-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                                                          
            </div>
        </div>
    </div>
</div>    
