<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-organization-termDisplayName-label"></div>
                    </div>
                    <div class="content clearfix csc-preferredOA-orgTermGroup">
                        <input type="text" class="csc-orgAuthority-termDisplayName"/>
                    </div>        
                </div>
                 <div class="info-pair">
                    <div class="header">
                        <div class="label csc-organization-smkFoundingDateGroup-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-organization-smkFoundingDateGroupStart-label"></td>
                                    <td class="csc-organization-smkFoundingDateGroupEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-organization-smkFoundingDateGroupStart" /></td>
                                    <td><input type="text" class="csc-organization-smkFoundingDateGroupEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="info-pair"">
                    <div class="header">
                        <div class="label csc-organization-smkDissolutionDateGroup-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-organization-smkDissolutionDateGroupStart-label"></td>
                                    <td class="csc-organization-smkDissolutionDateGroupEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-organization-smkDissolutionDateGroupStart" /></td>
                                    <td><input type="text" class="csc-organization-smkDissolutionDateGroupEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-organization-foundingPlace-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-orgAuthority-foundingPlace"/>
                    </div>
                </div>
                <div class="info-pair" style="display:none">
                    <div class="header">
                        <div class="label csc-organization-group-label"> </div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-orgAuthority-group" />
                    </div>
                </div>
                <div class="info-pair-select" style="display:none">
                    <div class="header">
                        <div class="label csc-organization-function-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-orgAuthority-function" />
                    </div>
                </div>
                <!-- FIXME: Un-hide by removing 'style' attribute when CSPACE-5184/CSPACE-5185 is fixed -->
                <div class="info-pair-select" style="display:none;">
                    <div class="header">
                        <div class="label csc-organization-termStatus-label"></div>
                    </div>
                    <div class="content clearfix csc-preferredOA-orgTermGroup">
                        <select class="csc-orgAuthority-termStatus input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>
                <div class="info-pair" style="display:none;">
                    <div class="header">
                        <div class="label csc-organization-editUsername-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-organization-editUsername"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-organization-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-organization-updatedAtStart-label"></td>
                                    <td class="csc-organization-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-organization-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-organization-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
