<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-intake-currentOwner-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-intake-current-owner"/>
                    </div>        
                </div>                               
                <div class="info-pair">
                   <div class="header">
                       <div class="label csc-intake-smkConsignee-label"></div>
                   </div>
                   <div class="content">
                        <input type="text" class="csc-smk-intake-consignee" />
                   </div>
               </div>
               
               <div class="info-pair">
                   <div class="header">
                       <div class="label csc-intake-smkResponsible-label"></div>
                   </div>
                   <div class="content">
                        <input type="text" class="csc-smk-intake-responsible" />
                   </div>
               </div> 
                
                
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-intake-entryDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-intake-entryDateStart-label"></td>
                                    <td class="csc-intake-entryDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-intake-entryDateStart" /></td>
                                    <td><input type="text" class="csc-intake-entryDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                                                                         
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-intake-entryNumber-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-intake-entry-number"/>
                    </div>        
                </div>     
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-intake-entryReason-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-intake-entry-reason input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-intake-returnDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-intake-returnDateStart-label"></td>
                                    <td class="csc-intake-returnDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-intake-returnDateStart" /></td>
                                    <td><input type="text" class="csc-intake-returnDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-intake-updatedBy-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-intake-updatedBy"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-intake-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-intake-updatedAtStart-label"></td>
                                    <td class="csc-intake-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-intake-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-intake-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
