<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">                
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-acquisition-smkAcquisitionDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-acquisition-smkAcquisitionDateStart-label"></td>
                                    <td class="csc-acquisition-smkAcquisitionDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-acquisition-smkAcquisitionDateStart" /></td>
                                    <td><input type="text" class="csc-acquisition-smkAcquisitionDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-acquisition-acquisitionMethod-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-acquisition-acquisition-method input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-acquisition-acquisitionReferenceNumber-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-acquisition-numberPatternChooser-reference-number"/>
                    </div>        
                </div>     
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-acquisition-acquisitionSource-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-smk-acquisition-source"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-acquisition-acquisitionNote-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-acquisition-acquisition-note"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-acquisition-acquisitionProvisos-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-acquisition-acquisition-provisos"/>
                    </div>        
                </div>                
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-acquisition-acquisitionReason-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-acquisition-acquisition-reason"/>
                    </div>        
                </div>
                
                <div class="info-pair">
                    <div class="header">
                        <div class="label">Acquisition Funding - Tilskudsgiver</div>
                    </div>
                    <div class="content csc-acquisition-acquisitionFunding clearfix">
                        <input type="text" class="csc-acquisition-acquisitionFundingSource"/>
                    </div>        
                </div>
                
                <div class="info-pair">
                    <div class="header">
                        <div class="label">Acquisition Funding - Betingelser</div>
                    </div>
                    <div class="content csc-acquisition-acquisitionFunding clearfix ">
                        <input type="text" class="csc-acquisition-acquisitionFundingSourceProvisos"/>
                    </div>        
                </div>                                
                
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-acquisition-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-acquisition-updatedAtStart-label"></td>
                                    <td class="csc-acquisition-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-acquisition-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-acquisition-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                                                                     
            </div>
        </div>
    </div>
</div>    
