<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                           
                <div class="fl-container-flex fl-fix information-group">
					<div class="csc-recordEditor-header fl-container-flex header toggle csc-collection-object-identificationInformation-label cs-togglable-header cs-togglable-expanded" tabindex="0">Identifikation</div>
					
					<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main search-group" style="display: block;">
                    
                    <div class="info-column">
                        <div class="info-column1 fl-force-left">
                           <div class="info-pair">
			                    <div class="header">
			                        <div class="label csc-collection-object-objectNumber-label"></div>
			                    </div>
			                    <div class="content clearfix">
			                        <input type="text" class="csc-object-identification-object-number"/>
			                    </div>        
			                </div>
			        	</div>
                     </div>
                     
                     <div class="info-column">
                        <div class="info-column1 fl-force-left">
                           <div class="info-pair">
			                    <div class="header">
			                        <div class="label csc-collection-object-objectName-label"></div>
			                    </div>
			                    <div class="content clearfix">
			                        <input type="text" class="csc-smk-object-name"/>
			                    </div>        
			                </div>
			        	</div>
                     </div>
                    
                    <div class="info-column">
                        <div class="info-column1 fl-force-left">
                           <div class="info-pair-select">
			                    <div class="header">
			                        <div class="label csc-collection-object-responsibleDepartment-label"></div>
			                    </div>
			                    <div class="content clearfix">
			                        <select class="csc-object-identification-responsible-department"><option value="">Options not loaded</option></select>
			                    </div>        
			                </div>
			        	</div>
                     </div>
                      
                    <div class="info-column">
                        <div class="info-column1 fl-force-left">
                           <div class="info-pair-select">
			                    <div class="header">
			                        <div class="label csc-collection-object-collection-label"></div>
			                    </div>
			                    <div class="content clearfix">
			                        <select class="csc-object-identification-collection"><option value="">Options not loaded</option></select>
			                    </div>        
			                </div>
			        	</div>
                     </div>
                     
                     <div class="info-column">
                        <div class="info-column1 fl-force-left">
                           <div class="info-pair">
			                    <div class="header">
			                        <div class="label csc-collection-object-title-label"></div>
			                    </div>
			                    <div class="content csc-collection-object-smkTitleGroup clearfix">
			                        <input type="text" class="csc-smk-object-identification-object-title"/>
			                    </div>        
			                </div>
			        	</div>
                     </div>
                     
                     <div class="info-column">
                        <div class="info-column1 fl-force-left">
                           <div class="info-pair-select">
                               <div class="header">
                                   <div class="label ">Titel - Sprog</div>
                               </div>
                               <div class="content csc-collection-object-smkTitleGroup clearfix">
                                   <select class="csc-smk-object-identification-object-title-language input-select">
                                       <option value="">Options not loaded</option>
                                   </select>
                               </div>
                           </div>
			        	</div>
                     </div>
                     
                     <div class="info-column">
                        <div class="info-column1 fl-force-left">
                           <div class="info-pair-select">
                               <div class="header">
                                   <div class="label ">Titel - Type</div>
                               </div>
                               <div class="content csc-collection-object-smkTitleGroup clearfix">
                                   <select class="csc-smk-object-identification-object-title-type input-select">
                                       <option value="">Options not loaded</option>
                                   </select>
                               </div>
                           </div>
			        	</div>
                     </div>    
                     
                     <div class="info-column">
                        <div class="info-column1 fl-force-left">
                           <div class="info-pair">
			                    <div class="header">
			                        <div class="label">Placering</div>
			                    </div>
			                    <div class="content">
			                        <input type="text" class="csc-collection-object-computedCurrentLocationSearch"/>
			                    </div>
		                	</div>
			        	</div>
                     </div> 
                     <div class="info-column">
                        <div class="info-column1 fl-force-left">
                           <div class="info-pair">
			                    <div class="header">
			                        <div class="label csc-collection-object-copyNumber-label"></div>
			                    </div>
			                    <div class="content">
			                        <input type="text" class="csc-object-description-copy-number"/>
			                    </div>
		                	</div>
			        	</div>
                     </div> 
                      <div class="info-column">
                           <div class="info-column1 fl-force-left">
                                <div class="info-pair">
                                    <div class="header">
                                        <div class="label csc-collection-object-smkCommentsNote-label"></div>
                                    </div>
                                    <div class="content clearfix csc-collection-object-smkComments">
                                        <input type="text" class="csc-smk-comments-note"/>
                                    </div>
                                </div>
                           </div>
                      </div>                         
                   	</div>                   	
                 </div>  				           
                
                <div class="fl-container-flex fl-fix information-group">
					<div class="csc-recordEditor-header fl-container-flex header toggle csc-collection-object-identificationInformation-label cs-togglable-header cs-togglable-expanded" tabindex="2">Produktion</div>
					
					<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main search-group" style="display: block;">
   
                      <div class="info-pair">
                          <div class="header">
                              <div class="label csc-collection-object-objectProductionPerson-label"></div>
                          </div>
                          <div class="content csc-collection-object-faObjectProductionPersonGroup clearfix">
                              <input type="text" class="csc-fa-object-production-person"/>
                          </div>
                      </div>
            
                      <div class="info-pair-select">
                          <div class="header">
                              <div class="label csc-collection-object-objectProductionPersonRole-label"></div>
                          </div>
                          <div class="content csc-collection-object-faObjectProductionPersonGroup clearfix">
                              <select class="csc-fa-object-production-person-role input-select">
                                  <option value="">Options not loaded</option>
                              </select>
                          </div>
                      </div>
            
            		 <div class="info-pair-select">
                          <div class="header">
                              <div class="label csc-collection-object-faObjectProductionPersonQualifier-label"></div>
                          </div>
                          <div class="content csc-collection-object-faObjectProductionPersonGroup clearfix">
                              <select class="csc-fa-object-production-person-qualifier input-select">
                                  <option value="">Options not loaded</option>
                              </select>
                          </div>
                      </div>
	                          
	                  <div class="info-pair">
                           <div class="header">
                               <div class="label csc-collection-object-objectProductionPlace-label"></div>
                           </div>
                           <div class="content csc-collection-object-objectProductionPlaceGroup clearfix">
                               <input type="text" class="csc-object-production-place"/>
                           </div>
                       </div>      
                        
                        <div class="info-pair-select">
                             <div class="header">
                                 <div class="label">Sted - Hændelse</div>
                             </div>
                             <div class="content csc-collection-object-objectProductionPlaceGroup clearfix">
                                 <select class="csc-collection-object-objectProductionPlaceRole input-select">
                                     <option value="">Options not loaded</option>
                                 </select>
                             </div>
                         </div>                      	                      
                      	
                      	<div class="info-pair">
			                <div class="header">
			                    <div class="label csc-collection-object-smkObjectProductionDate-label"></div>
			                </div>
			                <div class="content clearfix">
			                    <table>
			                        <thead>
			                        <tr>
			                            <td class="csc-collection-object-smkObjectProductionDateStart-label"></td>
			                            <td class="csc-collection-object-smkObjectProductionDateEnd-label"></td>
			                        </tr>
			                        </thead>
			                        <tbody>
			                        <tr>
			                            <td><input type="text" class="csc-collection-object-smkObjectProductionDateStart" /></td>
			                            <td><input type="text" class="csc-collection-object-smkObjectProductionDateEnd" /></td>
			                        </tr>
			                        </tbody>
			                    </table>
			                </div>
			            </div> 
			            
			            <div class="info-pair-select">
                             <div class="header">
                                 <div class="label">Datering - Hændelse</div>
                             </div>
                             <div class="content clearfix">
                                 <select class="csc-collection-object-smkObjectProductionDateQualifierSearch input-select">
                                     <option value="">Options not loaded</option>
                                 </select>
                             </div>
                         </div>    			            			            		               
			            
			            <div class="info-pair-select">
		                    <div class="header">
		                        <div class="label csc-collection-object-faCreatorDescription-label"></div>
		                    </div>
		                    <div class="content clearfix csc-collection-object-faCreatorDescriptionGroup">
		                        <input type="text" class="csc-fa-creator-description"/>
		                    </div>
		                </div>
		                <div class="info-pair">
		                    <div class="header">
		                        <div class="label csc-collection-object-smkObjectProductionNote-label"></div>
		                    </div>
		                    <div class="content clearfix csc-collection-object-smkObjectProductionNoteGroup">
		                        <input type="text" class="csc-smk-object-production-note"/>
		                    </div>
		                </div> 
                   	</div>                   	
                 </div>

				<div class="fl-container-flex fl-fix information-group">
					<div class="csc-recordEditor-header fl-container-flex header toggle csc-collection-object-identificationInformation-label cs-togglable-header cs-togglable-expanded" tabindex="3">Teknik</div>
					
					<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main search-group" style="display: block;">
                      	<div class="info-pair">
		                    <div class="header">
		                        <div class="label csc-collection-object-material-label"></div>
		                    </div>
		                    <div class="content clearfix csc-collection-object-faMaterialGroup">
		                        <input type="text" class="csc-fa-material"/>
		                    </div>
		                </div>		                
		                <div class="info-pair">
		                    <div class="header">
		                        <div class="label csc-collection-object-faProductionTechnique-label"></div>
		                    </div>
		                    <div class="content clearfix csc-collection-object-faProductionTechniqueGroup">
		                        <input type="text" class="csc-fa-object-production-technique"/>
		                    </div>
		                </div>
		                <div class="info-pair">
		                    <div class="header">
		                        <div class="label csc-collection-object-faWatermark-label"></div>
		                    </div>
		                    <div class="content clearfix">
		                        <input type="text" class="csc-fa-watermark"/>
		                    </div>
		                </div>  
		                <div class="info-pair">
		                    <div class="header">
		                        <div class="label csc-collection-object-physicalDescription-label"></div>
		                    </div>
		                    <div class="content clearfix">
		                        <input type="text" class="csc-object-description-physical-description"/>
		                    </div>
		                </div>   	                      
                   	</div>                   	
                 </div> 

				<div class="fl-container-flex fl-fix information-group">
					<div class="csc-recordEditor-header fl-container-flex header toggle csc-collection-object-identificationInformation-label cs-togglable-header cs-togglable-expanded" tabindex="4">Deskription</div>
					
					<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main search-group" style="display: block;">
                      	<div class="info-pair-select">
		                    <div class="header">
		                        <div class="label csc-collection-object-objectStatus-label"></div>
		                    </div>
		                    <div class="content clearfix">
		                        <select class="csc-object-description-object-status input-select"><option value="">Options not loaded</option></select>
		                    </div>
		                </div>		                
		                <div class="info-pair">
		                    <div class="header">
		                        <div class="label">Note til værkstatus/Relaterede værker</div>
		                    </div>
		                    <div class="content clearfix csc-collection-object-faRelatedWorkLabelGroup">
		                        <input type="text" class="csc-fa-related-worklabel"/>
		                    </div>
		                </div>
		                <div class="info-pair">
		                    <div class="header">
		                        <div class="label csc-collection-object-editionNumber-label"></div>
		                    </div>
		                    <div class="content clearfix">
		                        <input type="text" class="csc-object-description-edition-number"/>
		                    </div>
		                </div>  
		                <div class="info-pair-select">
		                    <div class="header">
		                        <div class="label">Betegnelse - Type</div>
		                    </div>
		                    <div class="content clearfix csc-collection-object-smkTextualInscriptionSMKGroup">
		                        <select class="csc-object-description-inscription-content-type-smk input-select"><option value="">Options not loaded</option></select>
		                    </div>
		                </div> 
		                <div class="info-pair">
		                    <div class="header">
		                        <div class="label">Betegnelse - Tekst/Indhold</div>
		                    </div>
		                    <div class="content clearfix csc-collection-object-smkTextualInscriptionSMKGroup">
		                        <input type="text" class="csc-object-description-inscription-content-smk"/>
		                    </div>
		                </div>  

						<div class="info-pair">
		                    <div class="header">
		                        <div class="label">Portrætteret person</div>
		                    </div>
		                    <div class="content clearfix">
		                        <input type="text" class="csc-object-description-content-person"/>
		                    </div>
		                </div>		                
		                <div class="info-pair">
		                    <div class="header">
		                        <div class="label">Topografisk motiv</div>
		                    </div>
		                    <div class="content clearfix">
		                        <input type="text" class="csc-object-description-content-place"/>
		                    </div>
		                </div>
		                <div class="info-pair">
		                    <div class="header">
		                        <div class="label">Stil/Periode</div>
		                    </div>
		                    <div class="content clearfix">
		                        <input type="text" class="csc-object-description-style"/>
		                    </div>
		                </div>
		                <div class="info-pair">
		                    <div class="header">
		                        <div class="label">Emne</div>
		                    </div>
		                    <div class="content clearfix">
		                        <input type="text" class="csc-fa-topic"/>
		                    </div>
		                </div>
						
						<div class="info-pair">
		                    <div class="header">
		                        <div class="label">Handling - Navn/Titel</div>
		                    </div>
		                    <div class="content csc-collection-object-contentEventNameGroup clearfix ">
		                        <input type="text" class="csc-object-description-content-event-name"/>
		                    </div>
		                </div>
						<div class="info-pair">
		                    <div class="header">
		                        <div class="label">Handling - Type</div>
		                    </div>
		                    <div class="content csc-collection-object-contentEventNameGroup clearfix ">
		                        <input type="text" class="csc-object-description-content-event-name-type"/>
		                    </div>
		                </div>		                
		                <div class="info-pair">
		                    <div class="header">
		                        <div class="label">Motiv - Note</div>
		                    </div>
		                    <div class="content clearfix csc-collection-object-smkContentNoteGroup">
		                        <input type="text" class="csc-smk-content-note"/>
		                    </div>
		                </div>  
		                 	                      
                   	</div>                   	
                 </div>                                                  
                 
                 <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-smkObjectHistory-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-smkObjectHistoryGroup">
                        <input type="text" class="csc-smk-object-history"/>
                    </div>
                </div> 	
                 
                 <div class="fl-container-flex fl-fix information-group">
					<div class="csc-recordEditor-header fl-container-flex header toggle csc-collection-object-identificationInformation-label cs-togglable-header cs-togglable-expanded" tabindex="7">Administrative oplysninger</div>
					
					<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main search-group" style="display: block;">
                      	<div class="info-pair-select">
		                    <div class="header">
		                        <div class="label csc-collection-object-faLegalStatus-label"></div>
		                    </div>
		                    <div class="content clearfix">
		                        <select class="csc-fa-legal-status input-select"><option value="">Options not loaded</option></select>
		                    </div>
		                </div>
		 				<div class="info-pair-select">
		                    <div class="header">
		                        <div class="label csc-collection-object-smkSalvagePriorityCode-label"></div>
		                    </div>
		                    <div class="content clearfix">
		                        <select class="csc-fa-salvage-priority-code input-select"><option value="">Options not loaded</option></select>
		                    </div>
		                </div>
		                 <div class="info-pair">
		                    <div class="header">
		                        <div class="label csc-collection-object-faCopyrightStatement-label"></div>
		                    </div>
		                    <div class="content clearfix">
		                        <input type="text" class="csc-fa-copyright-statement"/>
		                    </div>
		                </div>                        
                   	</div>                   	
                 </div>            
			
                                        
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-updatedBy-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-collection-object-updatedBy"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-collection-object-updatedAtStart-label"></td>
                                    <td class="csc-collection-object-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-collection-object-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-collection-object-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair" style="display:none;">>
                    <div class="header">
                        <div class="label csc-collection-object-numberOfObjects-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-collection-object-numberOfObjectsStart-label"></td>
                                    <td class="csc-collection-object-numberOfObjectsEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-collection-object-numberOfObjectsStart" /></td>
                                    <td><input type="text" class="csc-collection-object-numberOfObjectsEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>    
