<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanout-loanOutNumber-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-loanOut-loanOutNumber"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanout-borrower-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-loanOut-borrower"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanout-loanOutDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-loanout-loanOutDateStart-label"></td>
                                    <td class="csc-loanout-loanOutDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-loanout-loanOutDateStart" /></td>
                                    <td><input type="text" class="csc-loanout-loanOutDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>     
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanout-loanReturnDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-loanout-loanReturnDateStart-label"></td>
                                    <td class="csc-loanout-loanReturnDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-loanout-loanReturnDateStart" /></td>
                                    <td><input type="text" class="csc-loanout-loanReturnDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>        
                </div>                                                              
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanout-loanRenewalApplicationDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-loanout-loanRenewalApplicationDateStart-label"></td>
                                    <td class="csc-loanout-loanRenewalApplicationDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-loanout-loanRenewalApplicationDateStart" /></td>
                                    <td><input type="text" class="csc-loanout-loanRenewalApplicationDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                              
		         
		         <div class="info-pair">
                    <div class="header">
                        <div class="label">Status for lån</div>
                    </div>
                    <div class="content csc-loanout-loanStatusGroup clearfix">
                        <select class="csc-loanout-loanStatusSearch input-select">
                            <option value="">Options not loaded</option>
                        </select>
                    </div>
                </div>
                
                <div class="info-pair">
                     <div class="header">
                         <div class="label">Status for lån - Note</div>
                     </div>
                     <div class="content csc-loanout-loanStatusGroup clearfix">
                         <input type="text" class="csc-loanout-loanStatusNoteSearch"/>
                     </div>
                 </div>                               
                
                <div class="info-pair">
                    <div class="header">
                        <div class="label">Status for lån - Dato</div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-loanout-loanOutDateStart-label"></td>
                                    <td class="csc-loanout-loanOutDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-loanout-loanStatusDateStart" /></td>
                                    <td><input type="text" class="csc-loanout-loanStatusDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>		         
		          
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-loanout-loanPurpose-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-loanOut-loanPurpose input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>
                <div class="info-pair">
					<div class="header">
						<div class="label csc-loanout-specialConditionsOfLoan-label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-loanOut-loanOutConditions" />
					</div>
				</div>
				<div class="info-pair">
					<div class="header">
						<div class="label csc-loanout-loanOutNote-label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-loanOut-loanOutNote" />
					</div>
				</div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanout-updatedBy-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-loanout-updatedBy"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanout-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-loanout-updatedAtStart-label"></td>
                                    <td class="csc-loanout-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-loanout-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-loanout-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                                                                     
            </div>
        </div>
    </div>
</div>    
