<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">                                
                
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-exhibition-exhibitionTitle-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-exhibition-title"/>
                    </div>        
                </div>
                
                <div class="info-pair">
                    <div class="header">
                        <div class="label">Lokalitet</div>
                    </div>
                    <div class="content clearfix ">
                        <input type="text" class="csc-exhibition-smkExhibitionVenueSearch"/>
                    </div>        
                </div> 
                
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-exhibition-exhibitionDateFrom-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="label">Tidligst</td>
                                    <td class="label">Senest</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-exhibition-smkExhibitionDateFromStart" /></td>
                                    <td><input type="text" class="csc-exhibition-smkExhibitionDateFromEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-exhibition-exhibitionDateTo-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="label">Tidligst</td>
                                    <td class="label">Senest</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-exhibition-smkExhibitionDateToStart" /></td>
                                    <td><input type="text" class="csc-exhibition-smkExhibitionDateToEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-exhibition-exhibitionCurator-label"></div>
                    </div>
                    <div class="content clearfix csc-exhibition-exhibitionCurators">
                        <input type="text" class="csc-exhibition-curator"/>
                    </div>        
                </div>                                                             
                
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-exhibition-exhibitionRemarks-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-exhibition-remarks"/>
                    </div>        
                </div>                
                
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-exhibition-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-exhibition-updatedAtStart-label"></td>
                                    <td class="csc-exhibition-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-exhibition-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-exhibition-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                                                                     
            </div>
        </div>
    </div>
</div>    
