<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanin-loanInNumber-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-loanIn-loanInNumber"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanin-lender-label"></div>
                    </div>
                    <div class="content clearfix csc-loanin-lenderGroup">
                        <input type="text" class="csc-loanIn-lender"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanin-loanInDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-loanin-loanInDateStart-label"></td>
                                    <td class="csc-loanin-loanInDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-loanin-loanInDateStart" /></td>
                                    <td><input type="text" class="csc-loanin-loanInDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>     
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanin-loanReturnDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-loanin-loanReturnDateStart-label"></td>
                                    <td class="csc-loanin-loanReturnDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-loanin-loanReturnDateStart" /></td>
                                    <td><input type="text" class="csc-loanin-loanReturnDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>        
                </div>                                                              
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanin-loanRenewalApplicationDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-loanin-loanRenewalApplicationDateStart-label"></td>
                                    <td class="csc-loanin-loanRenewalApplicationDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-loanin-loanRenewalApplicationDateStart" /></td>
                                    <td><input type="text" class="csc-loanin-loanRenewalApplicationDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>    
				
				<div class="info-pair">
                    <div class="header">
                        <div class="label">Status for lån</div>
                    </div>
                    <div class="content csc-loanin-loanStatusGroup clearfix">
                        <select class="csc-loanin-loanStatusSearch input-select">
                            <option value="">Options not loaded</option>
                        </select>
                    </div>
                </div>
                
                <div class="info-pair">
                     <div class="header">
                         <div class="label">Status for lån - Note</div>
                     </div>
                     <div class="content csc-loanin-loanStatusGroup clearfix">
                         <input type="text" class="csc-loanin-loanStatusNoteSearch"/>
                     </div>
                 </div>                               
                
                <div class="info-pair">
                    <div class="header">
                        <div class="label">Status for lån - Dato</div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-loanin-loanInDateStart-label"></td>
                                    <td class="csc-loanin-loanInDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-loanin-loanStatusDateStart" /></td>
                                    <td><input type="text" class="csc-loanin-loanStatusDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                				 				           
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-loanin-loanPurpose-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-loanIn-loanPurpose input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>
				<div class="info-pair">
					<div class="header">
						<div class="label csc-loanin-loanInConditions-label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-loanIn-loanInConditions" />
					</div>
				</div>
				<div class="info-pair">
					<div class="header">
						<div class="label csc-loanin-loanInNote-label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-loanIn-loanInNote" />
					</div>
				</div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanin-updatedBy-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-loanin-updatedBy"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanin-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-loanin-updatedAtStart-label"></td>
                                    <td class="csc-loanin-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-loanin-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-loanin-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                                                                     
            </div>
        </div>
    </div>
</div>    