<div class="csc-structuredDateSMK-popup cs-structuredDateSMK-popup ">
		
        <div id="first line">
            <div class="item-pair">
                <div class="csc-structuredDateSMK-SMK-date-type-label label"></div>
                <select id="csc-structuredDateSMK-SMK-date-type-selector" class="csc-structuredDateSMK-SMK-date-type-selector input-select input-select-short"><option value=""></option></select>
            </div>
            <div class="item-pair spacer"></div>
            <div id="first-date">
                <div class="item-pair">
                    <div id = "year-label" class="csc-structuredDateSMK-SMK-year-label label"></div>
                    <div><input id ="csc-structuredDateSMK-SMK-date-year" class="csc-structuredDateSMK-SMK-date-year" type="text" size="4" maxlength="4" /></div>
                </div>
                <div class="item-pair">
                    <div id = "month-label" class="csc-structuredDateSMK-SMK-month-label label"></div>
                    <div><input id ="csc-structuredDateSMK-SMK-date-month" class="csc-structuredDateSMK-SMK-date-month" type="text" size="2" maxlength="2" /></div>
                </div>                
                <div class="item-pair">
                    <div id = "day-label" class="csc-structuredDateSMK-SMK-day-label label"></div>
                    <div><input id="csc-structuredDateSMK-SMK-date-day" class="csc-structuredDateSMK-SMK-date-day" type="text" size="2" maxlength="2"/></div>
                </div>
                <div class="item-pair">
                    <div id = "era-label" class="csc-structuredDateSMK-SMK-era-label label"></div>
                    <div><select id="csc-structuredDateSMK-SMK-era-selector" class="csc-structuredDateSMK-SMK-era-selector input-select input-select-short"><option value=""></option></select></div>
                </div>
            </div>
            <div class="item-pair spacer"></div>
            <div class="item-pair">
                <div id="segment-label" class="csc-structuredDateSMK-SMK-segment-label label"></div>
                <div><select id="csc-structuredDateSMK-SMK-segment-selector" class="csc-structuredDateSMK-SMK-segment-selector input-select input-select-short"><option value=""></option></select></div>
            </div>
        </div>
        <div id="second-line" class="force-clear">
            <div class="item-pair">
                <div class="item-pair" id="second-date">
                    <div class="item-pair alpha">
                        <div class="label">&nbsp</div>
                        <div id="earliest-date-label" class="csc-structuredDateSMK-SMK-earliest-date-label label"></div>
                    </div>
                    
                    <div class="item-pair">
                        <div id = "second-year-label" class="csc-structuredDateSMK-SMK-year-label label"></div>
                        <div><input id ="csc-structuredDateSMK-SMK-second-date-year" class="csc-structuredDateSMK-SMK-second-date-year" type="text" size="4" maxlength="4" /></div>
                    </div>                                   
                    <div class="item-pair">
                        <div id = "second-month-label" class="csc-structuredDateSMK-SMK-month-label label"></div>
                        <div><input id ="csc-structuredDateSMK-SMK-second-date-month" class="csc-structuredDateSMK-SMK-second-date-month" type="text" size="2" maxlength="2" /></div>
                    </div>
                    <div class="item-pair">
                        <div id = "second-day-label" class="csc-structuredDateSMK-SMK-day-label label"></div>
                        <div><input id="csc-structuredDateSMK-SMK-second-date-day" class="csc-structuredDateSMK-SMK-second-date-day" type="text" size="2" maxlength="2"/></div>
                    </div>
                    <div class="item-pair">
                        <div id = "second-era-label" class="csc-structuredDateSMK-SMK-era-label label"></div>
                        <select id="csc-structuredDateSMK-SMK-second-era-selector" class="csc-structuredDateSMK-SMK-second-era-selector input-select input-select-short"><option value=""></option></select>
                    </div>
                </div>
                
                <div id="third-date">
                	<div class="item-pair alpha"><div id="latest-date-label" class="item-pair csc-structuredDateSMK-SMK-latest-date-label label"></div></div>                    
                    
                    <div class="item-pair"><input id ="csc-structuredDateSMK-SMK-third-date-year" class="csc-structuredDateSMK-SMK-third-date-year" type="text" size="4" maxlength="4" /></div>
                    <div class="item-pair"><input id ="csc-structuredDateSMK-SMK-third-date-month" class="csc-structuredDateSMK-SMK-third-date-month" type="text" size="2" maxlength="2" /></div>
                    <div class="item-pair"><input id="csc-structuredDateSMK-SMK-third-date-day" class="csc-structuredDateSMK-SMK-third-date-day" type="text" size="2" maxlength="2"/></div>
                    <div class="item-pair">
                        <select id="csc-structuredDateSMK-SMK-third-era-selector" class="csc-structuredDateSMK-SMK-third-era-selector input-select input-select-short"><option value=""></option></select>
                    </div>
                </div>
            </div>
        </div> 
        <div id="third-line" class="force-clear">            
            <div class="item-pair">
            	<div class="csc-structuredDateSMK-SMK-display-text-label label"></div>
                <div><input id ="csc-structuredDateSMK-SMK-display-text" class="csc-structuredDateSMK-SMK-display-text" type="text" size="50"/></div>
            </div>
        </div>
        <div id="forth-line" class="force-clear">            
            <div class="item-pair">
            	<div class="csc-structuredDateSMK-SMK-display-eng-text-label label"></div>
                <div><input id ="csc-structuredDateSMK-SMK-display-eng-text" class="csc-structuredDateSMK-SMK-display-eng-text" type="text" size="50"/></div>                
            </div>
        </div> 	

</div>